[2015-11-15 21:05] codeofsumit opened #1 "create demo for all leaflet layers"

[2015-11-15 21:06] codeofsumit opened #2 "provide UI control elements"

[2015-11-16 13:59] codeofsumit opened #3 "bounding box problems when using canvas layer"
https://github.com/Leaflet/Leaflet.draw/issues/455#issuecomment-157009561

[2015-11-16 15:27] codeofsumit opened #4 "include default CSS for markers"
When the following CSS from the Demo isn't included the markers obviously won't show up
[code]

So.. create a `/dist` folder and put .css and .js in there

[2015-11-16 17:21] codeofsumit opened #5 "provide Events"
Mainly an "Edit" event.

[2016-02-10 11:32] codeofsumit commented on #5
there are now `pm:edit` and `pm:create` events.

Edit for all layers.
Create for a map on which a polygon got created.

[2016-02-10 11:32] #5 closed

[2016-02-10 11:32] codeofsumit commented on #4
done.

[2016-02-10 11:32] #4 closed

[2016-02-10 11:32] codeofsumit commented on #2
done

[2016-02-10 11:32] #2 closed

[2016-02-10 11:32] codeofsumit commented on #1
done:
http://codeofsumit.github.io/leaflet.pm/

[2016-02-10 11:32] #1 closed

[2016-02-10 11:33] codeofsumit commented on #3
closing this now until a user reports this issue (there are none I guess ;) ).

[2016-02-10 11:33] #3 closed

[2016-02-10 11:34] codeofsumit opened #12 "Create Polygon: First click doesn't do anything"
the first click after the create-polygon button is pressed doesn't do anything. Maybe the map has to get focused?

[2016-02-10 11:34] codeofsumit opened #13 "Provide a Drawing API"
So devs don't have to use the button but can trigger drawing manually

[2016-02-10 11:35] codeofsumit opened #14 "Icons missing"
Not sure how bower can handle images (icons). Got to do something about it or make it a requirement that devs provide icon paths.

[2016-02-18 13:38] codeofsumit opened #18 "Automatically end Edit mode when layer is removed"
currently, when removing a layer from the map while in edit mode, it's markers stay on the map.
Find a hook into `layer.remove` and call `layer.pm.disable()`.

[2016-02-20 19:08] codeofsumit commented on #13
drawing modes can now be activated and deactivated like this:

`L.PM.enableDraw({
                          map: map
                      });`

`L.PM.disableDraw(map);`

[2016-02-20 19:08] #13 closed

[2016-02-21 00:10] #12 closed

[2016-02-21 00:10] #18 closed

[2016-02-21 00:20] codeofsumit opened #22 "Refactor Controls"
[code]

should be replaced with a `toggleDraw` function.

`L.PM.Draw.Poly` should return if drawing mode is active or not.
Double Check that L.PM.Draw isn't getting messed up with multiple instances/maps.

[2016-02-21 18:13] codeofsumit opened #25 "Custom style for drawn polygon"
Make an optional style that can be passed to the draw class so that a polygon that is currently drawn doesn't have to be just red lines:
![image](https://cloud.githubusercontent.com/assets/2399810/13204383/2a24d0b0-d8cf-11e5-84b6-d681ef7b1e57.png)

[2016-02-25 22:14] codeofsumit opened #27 "L.PM.Draw isn't used as a constructor class"
There are issues with multiple maps on a page as L.PM.Draw() is used like I'm a noob coder or something.
Fix it, future self 👊

Add L.PM.Draw as a `new` object to a map. Then everything is 👌

[2016-02-27 22:14] codeofsumit opened #28 "Remove circular references of PM classes and map/layers"
[code]

🤔 this is bad. Get rid of it you fool.

[2016-02-27 22:32] codeofsumit commented on #28
hmm I don't think I can get rid of it right now.
The map needs to know about `pm`. And `pm` needs to know the map.

[2016-02-27 22:32] #28 closed

[2016-02-27 23:31] codeofsumit opened #29 "pm:create doesn't properly passes layer to callback"
well, you gotta pass a parent object to the leaflet events and make the stuff you wanna pass a child node. Like a layer or shape-type.

Just fix it.

[2016-02-28 00:21] #22 closed

[2016-02-28 00:21] #27 closed

[2016-02-28 00:21] #29 closed

[2016-03-11 10:18] codeofsumit opened #31 "simply adding a marker (without dragging it) doesn't fire pm:edit"
pm:edit seems to fire only when coords change, not when new coords are added.

[2016-03-11 20:57] #31 closed

[2016-05-30 07:52] xmojmr opened #33 "pm.toggleEdit does not work after new layer contents is added"
When new layer contents is added after the `pm` plugin was initialized, it does not handle `pm:edit` events for newly added elements.

Like this:

[code]

Clicking on the `geoJsonLayer` does not enter the edit mode

[2016-05-30 08:54] codeofsumit commented on #33
HI @xmojmr
I don't quite get what issue you're experiencing. I saw the Pull Request (thanks for that) but I'm not sure what exactly it's fixing.

You're saying that
[code]
and
[code]

Are these 2 separate problems?

Can you provide a sample (JSfiddle or Codepen or something)?

[2016-05-30 09:59] xmojmr commented on #33
I'm not able to create JSFiddle, sorry (I don't know how to reference `leaflet` and `leaflet.pm` from JSFiddle). Yes it's the data added later with `geoJsonLayer.addData(json)` that causes the troubles.

The step to reproduce would be to modify your demo
[code]

Then when you click on the polygon, edit mode does not get entered because `L.PM.Edit.LayerGroup._layers` is empty.

With my pull request

[2016-05-30 12:55] codeofsumit commented on #33
yeah I was able to reproduce it. I'll check you solution and merge / fix it and create a new release in the coming days. Thanks for reporting that!

[2016-05-30 15:17] yohanboniface opened #35 "Leaflet.Editable"
You should check [Leaflet.Editable](https://github.com/Leaflet/Leaflet.Editable), as a Leaflet.Draw alternative Leaflet 1.0 compliant.

[2016-05-31 07:16] #33 closed

[2016-05-31 07:19] codeofsumit commented on #35
looks cool. I'm closing this as it's not an issue though.

[2016-05-31 07:19] #35 closed

[2016-06-03 08:13] xmojmr opened #37 "GeoJSON with points throws Uncaught TypeError: Cannot read property 'enabled' of undefined"
If GeoJSON layer contains points then `pm` logs console error `Uncaught TypeError: Cannot read property 'enabled' of undefined` when it sees the L.Marker type of layer.

To reproduce use this: http://plnkr.co/edit/ZjLXPgIWpcAq2k9xIKoJ?p=preview

Expected behavior: `map.fitBounds(geoJsonLayer.getBounds())` gets called
Actual behavior: `map.fitBounds(geoJsonLayer.getBounds())` is not called because

[2016-06-09 09:56] codeofsumit commented on #37
argh just saw this. Will take care of it this weekend (and thanks for the PR)

[2016-06-27 17:22] do13 commented on #37
Did you find time to look deeper into this?
I've seen similar issues in combination with leaflet-search plugin.

Stacktrace:
leaflet.pm.js:640 Uncaught TypeError: Cannot read property 'enabled' of undefined
enabled @ leaflet.pm.js:640
(anonymous function) @ leaflet.pm.js:611
fire @ Events.js:1
addLayer @ FeatureGroup.js:1
setLayer @ leaflet-search.src.js:175
onAdd @ leaflet-search.src.js:117
addTo

[2016-07-23 20:42] codeofsumit commented on #37
merged your PR - sorry for the delay.
New release is here: https://github.com/codeofsumit/leaflet.pm/releases/tag/v0.6.3
you can update via `bower install`

[2016-07-23 20:43] #37 closed

[2016-08-15 13:00] wstygk opened #41 "middleMarker can't drag in Leaflet 1.0.0-rc.2"
when middleMarker become normal marker , it can't drag in Leaflet 1.0.0-rc.2.

[2016-08-17 09:03] codeofsumit commented on #14
will be fixed with the next release

[2016-08-17 09:03] #14 closed

[2016-08-17 13:08] codeofsumit commented on #41
@wstygk thanks for the report.

Looks like the event changes messed something up. What still works is when you click to add a middle marker, and then drag.
The instant drag doesn't work - I'm working on a fix now!

[2016-08-17 13:30] codeofsumit commented on #41
This seems to be a leaflet bug. The drag is stuck when changing the marker inside a dragstart event.
https://github.com/Leaflet/Leaflet/issues/4824

I'm on it, maybe I have a workaround until it's fixed by leaflet

[2016-08-17 13:34] codeofsumit commented on #41
Ok this was already reported here:
https://github.com/Leaflet/Leaflet/issues/4484

[2016-08-17 13:55] codeofsumit commented on #41
Fixed

[2016-08-17 15:15] #41 closed

[2016-08-22 20:45] tdaubs opened #48 "Unable to Remove Last Point from Polygon"
After drawing out a polygon, if you want to remove it... you can remove all points except the last one.

Also, it would be great to see some functionality for deleting an entire polygon with one action as opposed to a point by point removal approach.

Nevertheless, nice work so far!

[2016-08-23 07:35] codeofsumit commented on #48
Thanks for the feedback. I'm going to add a delete function to remove the entire polygon.

[2016-08-25 19:31] codeofsumit opened #49 "Switch to ES6"
because...

[2016-08-25 19:31] codeofsumit opened #50 "Unit Test Coverage"
The features grow - there will soon be too much cases to test manually so: automate it with unit tests, possibly e2e tests.

[2016-08-26 07:40] codeofsumit commented on #49
done

[2016-08-26 07:40] #49 closed

[2016-08-26 14:23] codeofsumit opened #52 "Right Click on a Middle Marker makes it big"
![image](https://cloud.githubusercontent.com/assets/2399810/18008695/68f8d058-6ba9-11e6-850b-0eee253658ab.png)
It makes it big but it does nothing.

[2016-08-29 15:56] codeofsumit opened #55 "Add more Functionality to Toolbar"
![image](https://cloud.githubusercontent.com/assets/2399810/18057835/e2c7044e-6e11-11e6-8d85-dc633496f672.png)

For now this should include:
* Drag
* Edit
* Remove

In addition: `pm:drawend` should not enable edit mode by default.

[2016-08-29 16:26] codeofsumit opened #56 "Create new Demo Page"
The current `gh-pages` branch is a small copy/mix of the `demo.js` in the master branch and the readme file.
Create a new website that shows off the features of leaflet.pm

[2016-09-01 10:51] #48 closed

[2016-09-01 10:54] codeofsumit commented on #48
@tdaubs the possibility to remove the last point from the polygon will be in the release today or tomorrow.
A new button in the toolbar (Removal Tool) is also added but turned off because of missing icons.
I'll enable this and other new toolbar features in an upcoming release once I found some proper icons I can use without getting sued 😉

[2016-09-01 13:18] codeofsumit commented on #48
The fix for deleting the last marker is now available on bower and npm

[2016-09-01 16:04] tdaubs commented on #48
Thanks for the update! Very good work!

[2016-09-02 13:20] codeofsumit opened #63 "pm:drawend should not enable Edit Mode"
As soon as there is an edit button in the toolbar (soon) - after successful drawing, the edit mode should be enabled via toolbar, not automatically.

[2016-09-02 13:24] #55 closed

[2016-09-02 15:39] codeofsumit opened #64 "preventOverlap: if small polygon is completely dragged into big polygon, there are JS errors"
`Uncaught TypeError: Cannot read property 'geometry' of undefined`

[2016-09-02 15:42] codeofsumit opened #65 "preventOverlap: if big polygon is dragged to completely cover a small polygon, something weird is happening"
![image](https://cloud.githubusercontent.com/assets/2399810/18209549/8df25c36-7134-11e6-8651-4c3643802964.png)

[2016-09-03 23:31] #64 closed

[2016-09-03 23:31] #65 closed

[2016-09-04 09:57] codeofsumit opened #67 "removeTool removes complete layerGroup instead of just one layer"

[2016-09-04 10:03] codeofsumit opened #68 "drag and removal tool cause bugs when activated together"
Fix: disable drag during activation of removal tool
Or: prevent click on dragend

[2016-09-04 10:20] #67 closed

[2016-09-04 10:20] #68 closed

[2016-09-06 14:30] codeofsumit opened #70 "toolbar icons not showing in Firefox"
that's because firefox needs `content` to be inside an `:after` pseude element.
Add a firefox fix to the css file.

[2016-09-08 15:27] #70 closed

[2016-09-09 10:41] #63 closed

[2016-09-09 13:00] codeofsumit opened #75 "Toolbar Button Names are inconsistent"
[code]

this is bad naming for these buttons. Change it.

[2016-09-09 13:01] codeofsumit opened #76 "During Drag of a Marker you should be able to disable snapping temporarily"
Like with a press of `shift` or `alt` during drag, snapping should be disabled.

[2016-09-09 13:02] codeofsumit opened #77 "ES6 Linting"
use it.

[2016-09-09 13:28] codeofsumit opened #79 "After unsnap, marker of another polygon follows dragged marker"
![image](https://cloud.githubusercontent.com/assets/2399810/18388462/0990c856-76a2-11e6-828a-ff48463bcd14.png)

wtf? Fix it!

[2016-09-09 14:42] codeofsumit commented on #79
ok this has something to do with the raise of markers on hover.

[2016-09-09 14:49] codeofsumit opened #80 "if multiple markers are on top of each other - how to determine which one you drag?"
![image](https://cloud.githubusercontent.com/assets/2399810/18391144/4956f63a-76ad-11e6-8953-f7509b6eb4f8.png)

Exactly drawn polygons (snapping ftw) share vertexes, obviously. In edit-mode, the markers to edit those vertexes are stacked on top of each other. Now the user can't reliably drag the marker/vertex for a specific polygon. It's kinda random.
Find a solution for it. Any solution. The last

[2016-09-09 14:49] #79 closed

[2016-09-13 14:41] codeofsumit opened #82 "Use RequestAnimationFrame during drag"
Do it

[2016-09-23 09:33] felixheck opened #83 "Expose DragStart/DragEnd events for polygon markers"
Would like to make use of event handlers like `pm:dragstart` and `pm:dragend` for polygons markers. So it would be possible to handle some tasks as soon as a polygon marker is dragged.

[2016-09-23 09:47] codeofsumit commented on #83
will do it next week 👍

[2016-09-27 13:13] felixheck opened #84 "pm:edit event get triggered on single click"
As soon as I click on a polygon the `pm:edit` event get triggered. Even if there is no change related to the coordinates.

Is it the desired behavior?

[2016-09-27 13:14] codeofsumit commented on #84
is dragging enabled?

[2016-09-27 13:15] felixheck commented on #84
Yes, but the dragstart event is not trigged.

[2016-09-29 22:13] #84 closed

[2016-09-29 22:24] #83 closed

[2016-09-30 11:00] #77 closed

[2016-10-01 09:53] codeofsumit commented on #56
done

[2016-10-01 09:53] #56 closed

[2016-10-01 12:29] codeofsumit commented on #82
we don't have animations yet so it's not that useful

[2016-10-01 12:29] #82 closed

[2016-10-01 12:40] #52 closed

[2016-10-01 13:45] #25 closed

[2016-10-10 11:56] felixheck opened #91 "Expose an additional event before and after a polygon gets deleted"
Hi there.

There are several pm-custom events including `created`, `edited` and `dragXYZ`.
AFAIK there are no events which get triggered when a polygon gets deleted. On the one hand it would be nice to ask for confirmation (like a `pm:deletestart` event) and on the other hand I would like to send a request after the polygon was deleted (like a `pm:deleteend` event).

thanks :)

[2016-10-10 16:36] codeofsumit commented on #91
ok I've thought about this.

The problem is, deleting a layer isn't a function of leaflet.pm. I just provide a button in the toolbar that enables a click event per layer and deletes it.

Deleting a layer is a very simple functionality of leaflet. So you can do this:

`layer.remove()` to remove a layer from the map.

Now delete a layer via click:
`layer.on('click', function() { layer.remove(); });`

[2016-10-10 16:36] #91 closed

[2016-10-11 08:47] codeofsumit opened #92 "add support for drawing markers"
do it

[2016-10-11 11:50] felixheck commented on #91
Thanks! @codeofsumit

[2016-10-13 08:44] codeofsumit commented on #92
I'm on it
https://twitter.com/TweetsOfSumit/status/785925048267923456

[2016-10-13 10:02] themre opened #93 "option to change toolbar position"
hi,
is there an option to change toolbar position? e.g. position: 'topright'. thanks!

[2016-10-13 14:03] codeofsumit commented on #93
@themre not yet, but I'm going to implement it - probably ready next week.

[2016-10-15 21:16] #92 closed

[2016-10-15 21:19] codeofsumit opened #95 "Make Markers Snappable"
Markers need to be snappable to polygons and to other markers.

[2016-10-15 21:44] #93 closed

[2016-10-15 21:54] codeofsumit commented on #93
@themre done! Update to 0.12.0 and you'll have a configurable position of the toolbar

[2016-10-16 06:39] themre commented on #93
Thanks!

[2016-10-21 16:23] #50 closed

[2016-10-31 14:52] felixheck opened #99 "Custom Styles on Creation"
AFAIK it's currently not possible to pass custom styles for polygons, polylines & markers.
So as soon as I create an element, it gets the leaflet default style. Is it possible to define some custom styles, so that they get applied on creation?

Thanks!

[2016-10-31 16:15] felixheck opened #100 "Map controls get multiplied"
When calling the `map.pm.addControls` multiple times with the same truthy values, the related controls get multiplied:

![image](https://cloud.githubusercontent.com/assets/14093205/19861649/ab6da2c0-9f8d-11e6-8ca5-1ffb08b04cd4.png)

[2016-11-07 17:31] codeofsumit commented on #100
I'm still on it

[2016-11-24 19:59] vogis opened #101 "listen to when a new layer is created"
Hi,

I'm currently trying to configure a function to save the draw data to a geojson file, however the markers are not integrate to the function with "map.on('pm:create', function(e) {//...});".
I noticed that it's possible with other objects like line and polygon.

Do you have a solution for this?
Thanks

[2016-11-24 21:05] codeofsumit commented on #101
@vogis hi there,

yourMap.on('pm:create', function(e) {
    alert('pm:create event fired. See console for details');
    console.log(e);
});

should also fire when a marker is created.

Do you mind creating a demo case, like JSfiddle, with your usecase where it doesn't work?
If we find a bug or a missing feature on that part, I can fix it this week.

[2016-11-25 13:14] vogis commented on #101
Hi,
Thank for your reply.
Here the link to the JSfiddle where you find a layer with the name draw.
When I draw a line or a polygon, objects are added to the draw layer however the markers are not added to the layer. same effect for delete function.

https://jsfiddle.net/hhp61bnb/2/

[2016-11-25 23:04] codeofsumit commented on #101
ah I see where the problem is.
If you look at the console output from line 36 (JavaScript) of your JSFiddle, you'll see this:
![image](https://cloud.githubusercontent.com/assets/2399810/20636338/91f0de56-b36b-11e6-987e-63ce565a3702.png)

The markers aren't named "layer", they're named "marker" in the event.

But I think I should name them "layer" as well. Do you mind working with "marker" for now?

[2016-11-26 09:41] vogis commented on #101
Yes, of course I can work with the marker while waiting for the next release.
Thanks

[2016-12-02 14:26] codeofsumit commented on #101
I did not forget this. I'm just very busy right now. Hopefully I'll be able to do this this weekend

[2016-12-07 07:52] lcd78706 opened #102 "Is the license of this repository "MIT" or "ISC" ?"
Hello @codeofsumit ,
I am the member of cdnjs project.
I want to add this library, but the license mentioned in README.md https://github.com/codeofsumit/leaflet.pm#license is different from the package.json and also on npm. The first is MIT and second is ISC.
I want to confirm with you which one is the correct license.

https://github.com/cdnjs/cdnjs/issues/9799
https://github.com/cdnjs/cdnjs/pull

[2016-12-07 07:54] codeofsumit commented on #102
Hi @lcd78706,
*the License is MIT* - The package.json was auto generated, sorry about that I'll have that updated in the next release - please leave this issue open as a reference. I'll close it as soon as it's fixed.

[2016-12-07 08:04] lcd78706 commented on #102
Thanks for your reply.

[2016-12-07 08:20] #102 closed

[2016-12-07 08:32] #101 closed

[2016-12-07 11:15] #100 closed

[2016-12-07 18:57] vogis commented on #101
Thank you for fixing the issue.

[2016-12-08 09:35] codeofsumit commented on #101
@vogis of course! Sorry that it took longer than expected.

[2016-12-12 12:53] #99 closed

[2016-12-12 14:34] #76 closed

[2016-12-13 09:27] codeofsumit opened #109 "Errors during Polygon Edit while in Drawing mode"
Enable drawing mode, enable edit mode of a polygon, drag a marker => errors.

This is because the yet-to-be-drawn polygon is already a layer on the map but has no (as in, less than 2) coordinates.

Draw at least two coordinates and the errors disappear.

This means the snap-calculation needs to handle (=ignore) layers with fewer than 2 coordinate points.

[2016-12-13 14:42] #95 closed

[2016-12-13 15:57] #109 closed

[2016-12-30 17:56] leekosal opened #114 "Showing Measurement on Line and Polygon"
Hello, first, I want to show this is a great plugin. I am able to show measurement on line and polyon by integrating this with leaflet plugin (Leaflet Measure Path by ProminentEdge) in the option.

map.pm.setPathOptions({
    showMeasurements: true,
});

But, I do not know how to update those measurements when I edit a line or polygon. I am new to leaflet. Could you please help me?

[2016-12-31 12:24] codeofsumit commented on #114
This isn't an issue with leaflet.pm so I close this but I tried this for you:
I haven't been able to make @prominentEdge's plugin [Leaflet Measure Path](https://github.com/ProminentEdge/leaflet-measure-path) working but from what I understand something like this should work, provided his plugin works:

[code]

[2016-12-31 12:24] #114 closed

[2016-12-31 12:26] codeofsumit opened #115 "check if Coords could be updated with setLatLng instead of manually with .redraw()"
Other plugins would work better with this one together if it would use setLatLngs to update the geometry layers.
Specifically here: L.PM.Edit.Line.js:277

[2016-12-31 12:45] codeofsumit commented on #115
nome

[2016-12-31 12:45] #115 closed

[2016-12-31 14:19] leekosal commented on #114
thank you. It works great.

[2016-12-31 15:25] leekosal opened #116 "How to disable entire polygon dragging?"
When I edit a polygon, and i try to move entire polygon and with just very small move of mouse, entire polygon disappears. it seems it goes move to far.

How can i just disable moving entire polygon. Thanks

[2016-12-31 18:13] codeofsumit commented on #116
Can you build your case on jsfiddle.com so I can reproduce this issue? Then, I can fix it asap

[2017-01-02 03:16] leekosal commented on #116
thanks. I have sent the code to your outlook email. Maybe easier to check.

[2017-01-02 07:34] codeofsumit commented on #116
thank you for the demo. The issue is with Leaflet Measure Path.
I opened an issue [here](https://github.com/ProminentEdge/leaflet-measure-path/issues/11) about it and proposed a fix via [this Pullrequest](https://github.com/ProminentEdge/leaflet-measure-path/pull/12). If the maintainer merges it the problem is gone.

Until then, you can edit `leaflet-measure-path.js` in your project yourself by ch

[2017-01-02 07:34] #116 closed

[2017-01-02 07:39] codeofsumit opened #117 "Pass Options of enable & enableDraw to Toolbar buttons."
As discussed in #116 we need a way to set options of `enable` and `enableDraw` for the toolbar buttons as well.

[2017-01-02 10:42] leekosal commented on #116
thank you so much.

[2017-01-02 15:22] leekosal opened #118 "Cannot adjust other vertex after one vertex is deleted."
After enabling edit, i delete one vertex and then I cannot adjust other vertex.

[2017-01-02 15:35] codeofsumit commented on #118
I'd be great if you could provide a demo with the issue. Preferably on jsfiddle or codepen but you can also just send me a working demo. If I see the issue, I'll help and/or fix it asap.

[2017-01-02 15:36] leekosal commented on #118
You can test on your demo link. It has the same issues.

[2017-01-02 15:38] codeofsumit commented on #118
holy shit I didn't see this! Thanks! Will have it fixed by tomorrow!

[2017-01-02 20:14] codeofsumit commented on #118
hmm even the map isn't draggable anymore

[2017-01-02 20:16] codeofsumit commented on #118
ok @leekosal this is a leaflet issue and was fixed in 1.0.2. Update to leaflet 1.0.2 and it should be fixed. I'll update the demo asap.

[2017-01-02 20:16] #118 closed

[2017-01-03 00:15] leekosal commented on #118
thank you.

[2017-01-03 08:10] codeofsumit opened #119 "enableGlobalEditMode doesn't toggle toolbar button"
fix it.

[2017-01-03 08:29] codeofsumit commented on #118
@leekosal did it work?

[2017-01-03 08:34] leekosal commented on #118
Yes it works now. Thank you.

[2017-01-04 04:59] leekosal opened #120 "Is it possible to show mouse cross cursor when on mobile?"
It will be handy when using on mobile screen since we can drag that cursor on mobile screen.

[2017-01-04 07:46] codeofsumit commented on #120
uhm I don't understand what you mean? A mousecursor on mobile? I don't thank any website has that... mobile is for touch. Is there a specific problem with leaflet.pm?

[2017-01-04 07:59] leekosal commented on #120
There is no problem with leaflet.pm. It works great. But, I am just wondering if there are anyway we can draw polygon or line more accurately when we are on mobile device with touch screen. As there is no cursor pointer on screen, our best guess is to put our big thump on a screen :D

[2017-01-04 08:15] codeofsumit commented on #120
😉 I don't think that'd be much better. Maybe you can try scaling the whole map up with CSS transforms. Not sure if it messes with the dragging positions but well...
Another idea would be to create a bigger marker as the drag handle for polygons so it can be dragged more easily.
I'll close this open even though it's an improvement suggestion but I probably won't build this anytime soon as it's way

[2017-01-04 08:15] #120 closed

[2017-01-20 15:24] pomarc opened #121 "how can I get the line points?"
The plugin works beautfully, but after I end drawing a polyline, I'd like to know the array of vertex of the line.
I've handled the on:end event but I could not extract the points from the passed parameter. Could  you please show an example? thank you,

[2017-01-20 15:44] fyyyyy opened #122 "deleting poly coordinate disables edit mode"
after deleting a polygon coordinate, other coordinates are no longer editable

Cheers :D

[2017-01-20 15:56] codeofsumit commented on #122
@fyyyyy what version? I think this was fixed in 0.13.0

[2017-01-20 15:58] fyyyyy commented on #122
0.13.0

[2017-01-20 15:59] codeofsumit commented on #122
http://leaflet.pm.kaumgeschlafen.com/

does it work here?

[2017-01-20 16:02] fyyyyy commented on #122
yep

[2017-01-20 16:03] codeofsumit commented on #121
[code]

does this work?

[2017-01-20 16:05] codeofsumit commented on #122
you have to update leaflet ;-)

[2017-01-20 16:23] fyyyyy commented on #122
ok thx :D

[2017-01-20 16:23] #122 closed

[2017-01-20 16:35] pomarc commented on #121
perfectly, thanks.

[2017-01-20 16:40] codeofsumit commented on #121
@pomarc Ah i see. There are events on each marker for existing layers that you edit.
But for newly drawn ones there is no event current during the drawing.
I'll think about how to approach this, thanks for the suggestion 👍

[2017-01-20 16:40] #121 closed

[2017-01-23 01:14] lgzajac opened #123 "L.Circle support (WIP)"
just in case - notification, if someone is in a dire need ;)
https://github.com/lgzajac/leaflet.pm/tree/circle_wip

[2017-01-23 09:35] codeofsumit commented on #123
@lgzajac cool! But why not create a Pull Request? Circle Support was on my list anyway and this might saves me some time!

[2017-01-23 11:56] fyyyyy opened #124 "Prevent deletion of polygon vertices if < 3"
Currently its possible to create 2-vertice or 1-vertice polygons by deleting vertices with right click.
There should be a way to prevent this.

[2017-01-23 11:59] codeofsumit commented on #124
mhh, at least in edit mode: I agree.
But during initial draw you might need to delete the markers you just created to fix errors or something. What do you think?

[2017-01-23 12:28] fyyyyy commented on #124
Sounds good ;)

[2017-01-23 12:29] codeofsumit commented on #124
will do it this week!

[2017-01-24 13:42] lgzajac commented on #123
@codeofsumit - well, it is still work in progress ;) .
Especially that I am using one geodesic function from external library (probably can be replaced with internal Leaflet stuff)
I will try to create clean PR asap, but before that i have to finish some other stuff.

[2017-01-24 17:42] gouroujo opened #125 "Add snapping when drawing"
Hi !
Thanks for your awesome work, it's much cleaner than leaflet.draw in my opinion.
I have hacked your lib with the following snippet to add the snapping functionality when you draw a polygon. It's a **very** dirty hack but it could be a start to see what need to be done for this addon.

[code]

[2017-01-25 08:39] codeofsumit commented on #125
hey @gouroujo, glad to hear you like it. Thanks for your snippet! I'll add the functionality to leaflet.pm in some way or another.

Just have to think about the usability for a bit, or if it should be standard behaviour when you enable drawing via the toolbar. What do you think about it?
Should the draw-button in the toolbar enable drawing with snap or without snap?

[2017-01-25 09:14] gouroujo commented on #125
Hey,
In my project it is the default behaviour (you disabled it by pressing the "alt" key). The snapping is limited to 10px so it's pretty easy to not link polygon if you want to.

Moreover, I don't use the toolbar for editing because I need more control on which polygon the user want to edit. It also solves the problem of overlapped markers and polygons.

<img width="716" alt="screen shot 2017-01

[2017-01-25 09:20] #124 closed

[2017-01-25 09:22] codeofsumit commented on #125
Ah I meant the drawing button, not the edit button. When you click the "draw-polygon" button, you have snapping enabled (with your snippet) and can disable it by pressing "alt", just like the current snap feature 👍

Ok, thanks for the clarification. I'll work on it now

[2017-01-25 15:27] codeofsumit commented on #125
soon:
![snap_at_drag](https://cloud.githubusercontent.com/assets/2399810/22296650/28b78806-e31b-11e6-8b0e-d9a099760a2a.gif)

[2017-01-27 15:54] codeofsumit commented on #125
I'm almost finished.
Hard part was this: clicking beside a snapped marker and still finish the polygon.
![snap_at_drag](https://cloud.githubusercontent.com/assets/2399810/22377177/27aa229c-e4b1-11e6-8a28-c375e9c19151.gif)

Will probably release tonight or sunday. Not sure.

[2017-01-29 18:29] codeofsumit commented on #125
found another issue that needs fixin. I'm on it.

[2017-01-30 07:17] themre commented on #125
I looked at the demo, works nice, however when going back into edit mode, snapping isn't activated.

[2017-01-30 11:51] codeofsumit commented on #125
thanks, fixed.

[2017-01-30 11:57] codeofsumit commented on #125
wait a minute, saw a second issue with that. I'm on it

[2017-01-30 12:22] codeofsumit commented on #125
@themre NOW it's fixed 😅
Do you mind testing the branch #127 ?

[2017-01-30 12:38] themre commented on #125
hm, I created simple jsfiddle https://jsfiddle.net/9d9cn83f/3/ and put min version inside, but it doesn't work. only first time, when drawing it does snap, when edit back and drag, it doesn't snap.

[2017-01-30 12:48] codeofsumit commented on #125
@themre try it like this:
https://jsfiddle.net/9d9cn83f/4/

[2017-01-30 12:52] leekosal commented on #125
hello, it works only on vertex that is not snapped during draw. for vertex which was snapped during draw, it wont work.

[2017-01-30 12:58] themre commented on #125
perhaps we don't understand each other.
![snap](https://cloud.githubusercontent.com/assets/10845050/22423897/3009bf52-e6f4-11e6-9225-0b8b541ed5ae.gif)

[2017-01-30 13:04] codeofsumit commented on #125
ah, thanks for the gif, now I was able to reproduce. It seems to be a problem with the mix of polyLines and polygons, I'm on it!

[2017-01-30 14:11] codeofsumit commented on #125
@themre @leekosal
I think it's fixed. Can you try with the new version?

[2017-01-30 14:30] leekosal commented on #125
it works. However, i have one issue. For example, point A is snapped to point B. When in edit mode, I can only move point A. I cant move point B under point A. How to adjust point B without moving point A away first?. It would be great if in edit mode, we can select a polygon/line to make it active first and adjust its points.

[2017-01-30 14:33] themre commented on #125
I don't see merging B into A as an issue, if it's from the same shape. You can still create new point from edge middle or if you have some Redux you perform undo.

[2017-01-30 14:34] codeofsumit commented on #125
@leekosal that's a separate issue discussed here #80.
Let's continue the conversation about that in #80 and focus here on the snap-during-draw feature.

[2017-01-30 14:36] codeofsumit commented on #80
If you implement leaflet.draw with the API, you can implement "edit mode" on click of a polygon, or on hover. That makes this a non-issue.

However when you just integrate leaflet.pm and use the toolbar for drawing without any additional, self-programmed behaviour, global edit mode will enable all layers. Which means, they share vertexes (markers are stacked on top of each other).

This situation

[2017-01-30 15:16] leekosal commented on #125
thanks. got it. i test on my iphone. Seems i still cannot draw any polygon/line

[2017-01-30 15:59] codeofsumit commented on #125
@leekosal was able to reproduce. Will check it out tomorrow 👍

[2017-01-30 21:47] codeofsumit commented on #125
@leekosal wops, fixed it already ¯\_(ツ)_/¯
Can you try again please?

[2017-01-31 02:18] leekosal commented on #125
hello. still not working yet.

[2017-01-31 10:25] codeofsumit commented on #125
@leekosal https://jsfiddle.net/9d9cn83f/7/
this works on my iPhone 6 ☝️

I need more info to reproduce.

[2017-01-31 12:22] leekosal commented on #125
your link is working on my iphone...i just know that i suddenly cant draw anything on my site even if i did not change any code. www.cambomap.com

[2017-01-31 12:26] themre commented on #125
code on jsfiddle is updated with new fixes, your code doesn't has this fixes until it's deployed.

[2017-01-31 13:28] codeofsumit commented on #125
correct 👍

[2017-01-31 13:57] codeofsumit commented on #125
so @themre @leekosal you guys haven't found additional bugs?

[2017-01-31 14:03] leekosal commented on #125
no more bug. 👍

[2017-02-01 12:54] mdomnita opened #128 "Double click to close polygon"
Hello,
Is it possible to close a polygon on double click with the mouse rather than clicking on the first point?
It's a lot easier to do it like this and prevents the user from created unnecessary nodes by mistake.
Thanks.

[2017-02-01 13:20] codeofsumit commented on #128
Hi @mdomnite, thanks for the input. That would be possible.
Before I implement this, I'd suggest you try the new version (coming this week). The cursor point snaps to the first point so it's very easy to close the polygon.
(try it here: https://jsfiddle.net/9d9cn83f/7/ )
If that's still not enough, I'll implement double-click to close.

[2017-02-01 13:24] mdomnita commented on #128
Hello @codeofsumit , thanks for the answer. The way the new version works is better but from my point of view double click to close (maybe even a preview of the polygon with w semi-transparent color) would be nice. Anyway, let's see if anyone else agrees to this and I will also take a look through the code these days when I get some time, I didn't have time to try everything out yet.

[2017-02-02 08:49] #125 closed

[2017-02-02 10:02] codeofsumit commented on #125
version 0.14.0 is out and adds this feature!

[2017-02-02 10:02] codeofsumit commented on #128
@mdomnita new version is out. Let me know if it works for you

[2017-02-03 13:37] gouroujo commented on #125
awesome thanks guys

[2017-02-07 14:39] gouroujo opened #130 "Add a hint marker when drawing a marker"
Hi there !
What do you think about adding a marker hint when you draw a marker on the map?
It could be nice to have the same UX you have when drawing a polygon/polyline.
The white DivIcon is pretty nice and easly customizable.
Moreover, you could also add snapping when drawing a marker with this feature.

It is something you have planned to add ?

cheers

[2017-02-07 15:01] codeofsumit commented on #130
@gouroujo snapping while drawing is already implemented. The marker on the cursor is also there, but hidden because it created some specific problems. Let me check it again and see if I can make it work. I'll update this issue when I find problems that prevent me from adding it to the library.

What I could think of is an option for drawing that enables/disables the cursor marker.

In the meantime

[2017-02-07 15:02] codeofsumit commented on #130
wops just saw your updated title. You mean during marker draw? Ok that's not in here but yes, this makes sense. I'll implement it this week!

[2017-02-07 16:34] codeofsumit commented on #130
@gouroujo gotta test a little more but it's almost there
![snappable_markers](https://cloud.githubusercontent.com/assets/2399810/22700655/ae695bc4-ed5b-11e6-98b9-a944d0ceee51.gif)

[2017-02-07 16:42] codeofsumit commented on #130
if you want to try it out, here's the PR:
https://github.com/codeofsumit/leaflet.pm/pull/131

I'll leave it open until tomorrow. If I (or anybody else) doesn't find bugs until then, I'll merge and publish a new release.

[2017-02-09 09:30] gouroujo commented on #130
Hi @codeofsumit, thanks for you work that was exactly what I'm thinking of. Your PR looks good to me.

[2017-02-10 13:14] #130 closed

[2017-02-12 20:06] codeofsumit commented on #128
I'll close this until @mdomnita or other uses need support for double click to close polygon

[2017-02-12 20:06] #128 closed

[2017-02-13 10:50] codeofsumit commented on #130
@gouroujo it's released now in version 0.15.0

[2017-02-21 10:10] codeofsumit commented on #123
@lgzajac never mind man, I'm on it :-)
![circle_support](https://cloud.githubusercontent.com/assets/2399810/23160313/4822438c-f826-11e6-876a-82143cb01293.gif)

[2017-02-22 18:10] lgzajac commented on #123
cool :)

[2017-03-02 13:40] AlexSenchenko opened #134 "How to save such polygon?"
Could you please tell me how to save such polygon?

[2017-03-02 13:54] codeofsumit commented on #134
what do you mean with "save" ? How do you want to save it?

[2017-03-02 15:02] AlexSenchenko commented on #134
Save to localstorage or any file format  - and after new session show again

[2017-03-02 15:25] codeofsumit commented on #134
you have to program it yourself. This is just a drawing library. You can store your data however you want - localStorage, backend server / database, etc - but this has nothing to do with this library.

[2017-03-02 15:25] #134 closed

[2017-03-13 08:48] giomarino opened #135 "Change Marker icon"
I used to define new types of marker with Leaflet.Draw, each one with different options, that feature was very useful and scalable, It will be great to implement a similiar mechanism in this library.

Actually I'm searching a way (elegant) to set a new marker icon for markers drawn by user.
Any suggestion?

[2017-03-13 10:23] codeofsumit commented on #135
mhh I understand what you want. This would be possible with custom options (including CSS classes and icon images).
Can you post a screenshot about the dialog that leaflet.draw uses so you can pass options during draw (without coding)?

[2017-03-13 15:24] giomarino commented on #135
@codeofsumit I didn't get what you asked me. I don't use Leaflet.Draw anymore, because it doesn't work well for touch event instead this library works very well on mobile device.
I just say that was good idea to extends Marker class to realize custom Marker instance.

Now I just want to apply a new icon for a marker, I tried to do this, but doesn't work:
`
var options = {
icon: 'img/newicon.png'
}

[2017-03-14 07:51] codeofsumit commented on #135
ahh ok sorry I misunderstood. I'll implement it as soon as I find the time (hopefully this week) 👍  thanks for the suggestion!

[2017-03-14 16:08] Dahkon opened #136 "Autoclose path on double click"
Would be nice to consider closing drawing path on double click action or escape Key.
Got myself stuck with an unclosable path when markers are too close or on top of each other.

Nice tool either way.

[2017-03-14 16:11] Dahkon opened #137 "delete mode"
Is there a way to enter delete mode with code. I'm not using your toolbar.
Or do I have to listen for clicks myself ?
Thanks,

[2017-03-14 16:11] codeofsumit commented on #136
@Dahkon I'm aware of the problem, someone else requested this too. I think I'll implement double click. ESC key usually is like a cancel, not a "complete action" key.
Thanks for the feedback - I hope I can push a release by next week including this change.

[2017-03-14 16:14] codeofsumit commented on #137
Mhh there is a function for it but it won't work calling it from the code. I'll definitely implement this, should be fairly easy.

Until then you can use this:
[code]

[2017-03-14 16:29] Dahkon commented on #136
You're right for escape key.
Looking forward for double click.

[2017-03-14 16:33] Dahkon commented on #137
Thanks for the fast reply.

[2017-03-17 22:17] #123 closed

[2017-03-17 23:11] #119 closed

[2017-03-17 23:11] #137 closed

[2017-03-18 00:11] #135 closed

[2017-03-18 00:12] codeofsumit commented on #135
you can soon do this via

[code]

you can try it out with the `develop` branch. I'll implement one more feature before I release

[2017-03-18 00:38] #136 closed

[2017-03-18 06:12] leekosal opened #142 "Question for delete function"
Hello. Will there be any function like:

layer.on('pm:delete', function() {
});

I want to fire some events when a polygon layer is deleted.

thanks.

[2017-03-18 11:53] codeofsumit commented on #142
@leekosal that is already built into leaflet itself

[code]

API Reference:
http://leafletjs.com/reference-1.0.3.html#map-layerremove

[2017-03-18 11:53] #142 closed

[2017-03-20 21:04] maxamante opened #143 "Add support for Multipolylines"
I load saved polylines from other drawing sessions. Can't figure out how to add them to PM to be editable and snappable. Is there a way to do this?

[2017-03-20 21:13] maxamante commented on #143
Nevermind I figured out that the 'MultiPolyline's I'm saving need to loaded as Polylines to avoid the errors.

[2017-03-21 08:26] codeofsumit commented on #143
@maxamante good point, I haven't added a hook for MultiPolylines or MultiPolygons yet. To be honest I'm not sure how to handle MultiPolygons compared to a LayerGroup of Polygons. Guess it's basically the same?
I'll check this and add the feature in the future so leave this issue open please 👍

[2017-03-23 21:35] Burakhan opened #144 "Multiple buttons"
I want to add new buttons, such as wall, car, home ... I have no idea how to do it

[2017-03-24 10:23] codeofsumit commented on #144
what should these buttons do?

[2017-03-24 11:47] Burakhan commented on #144
These buttons can be "marker", "polyline". I want to show on the map and the menu with different icons.
Another issue is;
How can I make a selected element passive if it is a new object? @codeofsumit

[2017-03-24 11:51] codeofsumit commented on #144
ok your first issue is: you want the same buttons of leaflet.pm, just with different icons? You can change the CSS style. Just check what classes they have and overwrite from your own CSS.

Regarding your second issue: all buttons have a toggle function - you can trigger the toggle for, let's say the delete button like this:
`map.pm.Toolbar.getButtons().deleteLayer.toggle()`

[2017-03-24 11:51] #144 closed

[2017-04-03 21:12] themre opened #146 "Draw rectangle"
Hi, I saw there is already Circle support. Could this be also implemented for Rectangle? Thanks!

[2017-04-04 08:14] codeofsumit opened #147 "Redundant coordinate when finish polygon with double click"
Double Click in leaflet will (of course) always fire the regular click twice.

When double clicking to finish a polygon, these are the events firing in order:

Current behavior:
- click (creates vertex)
- click (creates vertex)
- double click (finishes shape).

This behavior means we have two vertexes on the same coordinates - one is redundant.

Desired behaviour:
a)
- click (creates vertex)
- cli

[2017-04-04 08:25] codeofsumit commented on #136
@Dahkon it's released now. It created another problem though which is described here:
https://github.com/codeofsumit/leaflet.pm/issues/147

I'd welcome your input on it.

[2017-04-04 12:37] Dahkon commented on #147
Hello,

I agree with B being a little hacky but delay with clicks would be awful with solution A.
So i would go with B anyway and remove the last created vertex on double click.

You must keep good performances you got so far.

[2017-04-04 12:53] codeofsumit commented on #147
thanks for the feedback. I can definitely understand that. 🤔  it's a tough one. I have to think a bit more about the solution before implementing it.

[2017-04-05 14:41] leekosal commented on #147
Currently, i just snap. I draw three point polygon but when I export it as geojson it has four points (first and last are duplicate)

[2017-04-05 14:42] codeofsumit commented on #147
@leekosal that's the geojson spec
http://geojson.org/geojson-spec.html#linestring
It's not the issue discussed here.

[2017-04-05 14:44] leekosal commented on #147
i see. thanks 👍

[2017-04-05 15:02] leekosal opened #150 "Is it possible to draw a hole in polygon?"
I want to draw a hole in polygon. For example, when user hold option key and draw new polygon inside existing polygon, it becomes a hole.
something like this http://jsfiddle.net/erictheise/VaGy5/

[2017-04-05 16:05] codeofsumit commented on #150
yes I'm going to support holes in all shapes in some way or another. It'll take a little time though

[2017-04-05 16:05] codeofsumit commented on #146
yes, going to implement it. Need a bit time though.

[2017-04-24 05:00] sletszarr opened #151 "Another conflict with leaflet-measure-path"
Hi, I have a similar issue with this one #116
and the fix is still not working for me..

Simply by adding leaflet-measure-path.js on your demo page,
when a polygon is dragged, it'll still throw an error of:

[code]

[2017-04-25 17:31] shuaihan22 opened #153 "Label polygons or annotation layer"
Hi,
Is there a way to add custom labels to polygons? If so, how can I get certain polygon object that I draw?

[2017-04-25 21:23] codeofsumit commented on #153
Hi,

you can add labels, but not with this library. It's just for drawing and editing the layers itself. I'm sure there are other plugins for it if leaflet doesn't offer a way itself.

Regarding your second question:
As described in the readme file, you can listen to the pm:create event which passes an event parameter to your callback function that includes the layer object.
I'd give you a code ex

[2017-04-25 21:23] #153 closed

[2017-04-26 15:25] shuaihan22 commented on #153
thanks, it works for the second question.

[2017-04-29 21:37] codeofsumit commented on #151
The issue is again with leaflet-measure-path.
I reported the issue [here](https://github.com/ProminentEdge/leaflet-measure-path/issues/18) and proposed another fix via [this PR](https://github.com/ProminentEdge/leaflet-measure-path/pull/19).

As soon as this is merged, the issue is gone.

[2017-04-29 21:37] #151 closed

[2017-05-04 07:56] sletszarr commented on #151
Hi, sorry for the late reply
Thank you very much for the fix :D

[2017-05-10 09:47] binjan opened #157 "how get all objects"
Hi! Thank you for plugin!
I need to get all drawn objects from map.
Can I get objects similarly geoJson?
[code]

[2017-05-10 10:12] codeofsumit commented on #157
leaflet has a function to get all layers on a map:

[code]
http://leafletjs.com/reference-1.0.3.html#map-eachlayer
this gives you all layers of the map.

Unfortunately you can't know if they are drawn by leaflet.pm or not.

If you want just the layers that were drawn with leaflet.pm you could listen to the `pm:create` event and save your layer reference into an array.

Hope this helps!

[2017-05-10 10:12] #157 closed

[2017-05-16 16:44] nagasreev opened #158 "Get the Created layers as single layerGroup"
Hi Sir, Here is the problem i am facing
I generally use **'pm:create'** event to get the layer i created.

lets assume, i created 100 points, Lines and polygons.
then i used the **'EDIT' tool to adjust or correct them**. Now on a click of a button, can i get the whole features i created on the map as one Layergroup.

So that i can convert that to json and save it to database

[2017-05-17 10:16] dksivagis opened #159 "How to remove all leaflet.pm layers at a time from a map"
Hi , may i please know how to remove all the leaflet.pm layers in one shot.
Any thing like map.pm.removeLayers();

[2017-05-17 12:03] codeofsumit commented on #159
There are no "leaflet.pm"-layers. You create leaflet layers with leaflet.pm.
So you can loop through all layers of the map and remove the ones you want:

[code]

As leaflet.pm just created leaflet layers, please look into the leaflet documentation to see how to handle your layers.

[2017-05-17 12:03] #159 closed

[2017-05-17 13:56] codeofsumit commented on #158
Hi,

you should create the layerGroup yourself and add the layers you create to it.
Something like this:

[code]

Then, even after you edit them, you can refer to your layergroup and do whatever you want with them. Grouping, storing, saving is totally up to you. Leaflet.pm just helps you create the layers - the rest is just regular javascript and leaflet.

Let me know if it helps.

[2017-05-17 13:56] #158 closed

[2017-05-18 04:37] nagasreev commented on #158
Thank you sir.  It helps and will take it forward.

[2017-05-22 03:43] GeoTob opened #160 "Possible to protect certain layers?"
Cant find anything in the readme about this, but it'd be nice if I could protect a layer from all edits and deletes.

For now I simply removed the `pm` object from the Layer instance, but that's not very elegant and leads to errors on delete:

[code]

[2017-05-22 04:23] dksivagis opened #161 "Assigning the controls to HTML toolbar buttons"
Hi sir,
Its a basic question.
You have given an easy approach of assigning the events to our custom buttons and call the function from outside the map (eg attaching enable draw function to html button ==> **map.pm.enableDraw('Poly', options);**)

Most of the major plugins does not have such binding functions. is there any way we can make ourself?  (Eg: Leaflet.PolylineMeasure)

Thank you
Siva

[2017-05-22 07:12] codeofsumit commented on #160
hi @GeoTob good point.
This is something not currently in the library but let's think about how we could add this.

a) A clean solution would be to remove auto-initialization of leaflet.pm and add the layers that leaflet.pm should handle via init options. This would be a breaking change though.

b) Give layers some property, like `immutable` and leaflet.pm ignores those.

c) Add custom onClick han

[2017-05-22 07:16] codeofsumit commented on #161
Hi there,

uhh not without changing the code of the other plugins I think.
They basically need to provide a proper Javascript API for all functionality, and use it themselves for their toolbars. I want leaflet.pm to be fully functional, even if the toolbar is completely disabled.
That's something you should ask for in the other plugin repos - sorry.

I'm glad you like that functionality! 👍

Feel f

[2017-05-22 07:16] #161 closed

[2017-05-22 07:45] dksivagis commented on #161
Great sir., Thanks for the functions to access the events easily.

[2017-05-22 21:39] GeoTob commented on #160
Thinking about how layers are added in Leaflet, I think I might prefer b) over e). To be honest though, I think both are perfectly fine.

[code]

Option c) sounds sensible too: the toolbar is supposed to toggle edit mode globally, so it makes sense for users to overwrite the `onClick` behaviour if they want to restrict edit mode to certain layers.

Another way to solve this would be to add an `ign

[2017-05-22 22:43] GeoTob opened #162 "Custom remove event for pm"
I propose to add a `pm:remove` event similar to the existing `pm:create`.

Currently Leaflet's `layerremove` event is the only way to listen to layer deletions. Problem is it's fired quite frequently when pm destroys its helper layers after each draw. The `pm:remove` event would fire only after the user has deleted a layer from the map, so that we can attach custom logic to handle user interaction

[2017-05-23 05:54] codeofsumit commented on #160
@GeoTob great suggestions.
Regarding `ignoreLayers` in the Toolbar: you can trigger global edit mode via code as well. So whatever solution we come up with needs to be available through the API, and the toolbar just uses that API.

I like b) - I'll do some testing to see if I run into trouble. I'm very busy this week so this might end up on the weekend.

[2017-05-23 05:56] codeofsumit commented on #162
`Currently Leaflet's layerremove event is the only way to listen`

This 👆  was exactly why I haven't added `pm:remove` but you're totally right - it fires for all the helpers and this marks a problem. Thanks for pointing it out.
I will implement this.

[2017-05-23 07:19] GeoTob commented on #160
True, strike that suggestion :)

[2017-05-24 12:09] codeofsumit commented on #162
@GeoTob turns out, it's not that easy.

1. Could you provide a JSFiddle where the remove event is fired for helpers?
2. The workaround you provided is good but if someone removes a layer via code, it wouldn't fire.
I want `pm:remove` to be fired whenever a layer is removed (doesn't matter how).

Currently I'm trying to distinguish my helper layers from the actual layers of the map - but somehow I

[2017-05-26 19:26] codeofsumit commented on #162
nevermind!

[2017-05-26 19:27] codeofsumit commented on #162
if you want, try this branch and see if the `pm:remove` event works as expected for you
https://github.com/codeofsumit/leaflet.pm/pull/163

[2017-06-01 13:22] felule opened #164 "Recover an object from pm:create"

[2017-06-01 13:47] #164 closed

[2017-06-05 07:29] dksivagis opened #165 "Marker creation not Stopping"
Hi Sir,

I made **2 buttons** with names _'Create points'_ and _'Create polys'_

On click of  _'Create Points'_ , i enabled the marker drawing

On click of _'Create Lines'_, i enabled the Polygon drawing

The problem is :
When i click   _'Create Points'_ , i am able to draw multiple marker's
Next When i click _'Create polys'_, and then click on map, the markers are still being created.
Only after

[2017-06-05 09:13] dksivagis commented on #165
Thank you Sir. I found the solution.
I used `map.pm.toggleGlobalRemovalMode();` at the starting point inside the click event function and then enabling the Drawing tools.

If this is the right approach, kindly close this issue.
thank you

[2017-06-06 21:43] codeofsumit commented on #165
hey, good point!
Have a look at this function - this is how I handle it inside leaflet.pm
https://github.com/codeofsumit/leaflet.pm/blob/develop/src/js/Toolbar/L.PM.Toolbar.js#L65

So when button A is clicked, I check for other active buttons and then trigger a click (so it deactivates other modes).

If you look closer into the linked `L.PM.Toolbar.js` file, you'll see that internally I use `this.

[2017-06-06 21:43] #165 closed

[2017-06-07 03:59] dksivagis commented on #165
Great Information. Thank you sir..

[2017-06-26 10:50] #160 closed

[2017-06-26 10:50] #162 closed

[2017-06-26 21:30] GeoTob commented on #162
sorry mate, wanted to test this out and completely forgot :(

[2017-06-27 07:11] codeofsumit commented on #162
@GeoTob no worries, it's merged now. Let me know if you have troubles with the latest release 👍

[2017-06-28 23:32] GeoTob commented on #162
Thanks, will do!:)

[2017-07-03 17:52] galileopy opened #170 ""pm:edit" Event is not fired on Circles"
It seems that Edit.Circle doesn't fire events on `_moveCircle` & `_resizeCircle`, I added them on a fork, I don't know if this is a real issue, or if I was not able to properly capture the events, please let me know if I can PR, also, I didn't find a contributing guideline.

[2017-07-04 07:12] codeofsumit commented on #170
hmm might be that I forgot them. Please PR - i'll either merge it or better get the idea of what needs to be done

[2017-07-04 13:33] #170 closed

[2017-07-05 09:07] thomasvoigt opened #172 "Layer deletion should respect "pmIgnore""
Hi there!

Our use case involves a mix of user-editable layers and read-only layers, tagged with "pmIgnore". Unfortunately, deleting those layers is still possible.

Shouldn't "delete" respect a layer's "pmIgnore" setting, too?

Thanks and best regards,
Thomas

[2017-07-05 09:39] codeofsumit commented on #172
Hi @thomasvoigt. Hmm good point. The "delete" functionality is leaflets own `layer.delete`, obviously I can't / don't want to hijack that.
But if your users are using the toolbars "delete button" and still can remove layers, it sounds like a mistake on my part and I will fix it asap.
Can you give me feedback real quick if that's the case?

[2017-07-05 09:49] thomasvoigt opened #173 "IE11 throws on L.pm.enabled()"
Hi there!

Yeah, I know, IE support is a major PITA. Alas, I couldn't find a disclaimer telling me not to use esoteric browsers (and our client really loves his IE user base), so here I am, nagging...

`L.pm.enabled()` uses `Array.prototype.find()` internally, and that only works in IE 12 (Edge) and up.

As state tracking is quite complex from the outside, I'd very appreciate a (more) cross-browse

[2017-07-05 09:52] thomasvoigt commented on #172
Yep, users can delete "pmIgnore"-protected layers using the toolbar-button-of-mass-destruction.

[2017-07-05 10:00] codeofsumit commented on #172
ok then this is a bug and I'll fix it. Please note, I'm on vacation starting tomorrow. I hope to fix and release a new version in the week starting at 17th of July 🤞 .

[2017-07-05 10:01] codeofsumit commented on #173
No worries I'll try to support as much as I can, I just don't have IE on me dev machine.
I will fix this but again, please note, I'm on vacation starting tomorrow. I hope to fix and release a new version in the week starting at 17th of July 🤞 .

[2017-07-05 10:44] thomasvoigt commented on #172
Thanks for getting back to me so quickly, enjoy your holiday!

[2017-07-09 01:57] josejaner commented on #172
"pmIgnore", not work in edit mode, using the toolbar

[2017-07-09 02:11] josejaner commented on #172
If a geojson is large, in editing mode it takes a long time to activate the vertices, I recommend selecting the element before.
sorry for my English
! Excellent plugin!

[2017-07-09 02:23] josejaner opened #174 "long time for activate the vertices in editing mode"
If a geojson is big, in editing mode it takes a long time for activate the vertices, I recommend selecting the element before.

Sorry for my English
Excellent plugin.. !Congratulations!

[2017-07-13 09:56] johnsoncherian commented on #174
Hi I am facing the same issue with a large GeoJSON file. How did you handle this case.? I am pasting my code below. `var layerObj = L.geoJSON(geojsonFeature).addTo(map);
var options = {
	position: 'topleft',
	drawPolygon: true,
	editPolygon: true,
	deleteLayer: true
};
map.pm.addControls(options);
layerObj.pm.enable(options);`.
Here `geojsonFeature` is my GeoJSON data

[2017-07-13 10:02] johnsoncherian opened #175 "Browser crashes when big GeoJSON files are enabled for editing"
Chrome and Firefox gets hanged when GeoJSON files with large number of `geometries` and `coordinates` are loaded as polygon layers for editing. Here is my code. `var layerObj = L.geoJSON(geojsonFeature).addTo(map); var options = { position: 'topleft', drawPolygon: true, editPolygon: true, deleteLayer: true }; map.pm.addControls(options); layerObj.pm.enable(options);`. I am including the GeoJSON da

[2017-07-15 14:01] codeofsumit commented on #175
Hi @johnsoncherian, I'll test this in the next days.

[2017-07-15 14:37] codeofsumit commented on #172
@josejaner please provide a JSfiddle or other demo so I can replicate the issue with the Toolbars Edit-Button.

[2017-07-15 15:12] codeofsumit commented on #173
@thomasvoigt do you mind (as I don't have IE11 anywhere) checking if this branch works for you?
https://github.com/codeofsumit/leaflet.pm/tree/IE11-Array.find

Simply clone it locally and run `npm run dev`. It'll create a `dist` folder with the js and css files in it for you to try.

Does this work for IE11?

[2017-07-15 15:21] codeofsumit commented on #173
@thomasvoigt the solution seems to be that I have to include babel-polyfill with this library. Although I wanted to avoid adding any dependencies to leaflet.pm.
Can you please also try to install `babel-polyfill` in your project and load it before your other code, (e.g. with a webpack entry addition, or import in your main file) and see if it works?

If yes, you can fix this by yourself by adding

[2017-07-18 08:58] thomasvoigt commented on #173
Yes, `babel-polyfill` works, but nearly qadruples the library's size. That's quite a hit for [some 20 lines of code](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Array/find#Polyfill). So I'd rather prefer not to...

As `Array.prototype.find` seems to be the only problematic ES6 function at the moment,  I'm fine with either:
- bundling and requiring a more lightweig

[2017-07-18 11:05] codeofsumit commented on #173
@thomasvoigt I'm fine with including a small polyfill in the lib directly but I need you to confirm the polyfill is working. Can you please add this to your project real quick and see if it works?

[code]

[2017-07-18 11:21] codeofsumit commented on #172
@josejaner I can't reproduce your problem. Please create a separate issue with an example - this issue will be fixed with the next release.

[2017-07-18 11:24] #172 closed

[2017-07-18 11:30] thomasvoigt commented on #173
Yes, this one works, too.

[2017-07-18 11:31] codeofsumit commented on #174
@josejaner how big is your geojson? Can you provide a file here so I can test?

[2017-07-18 11:36] codeofsumit commented on #175
Hi @johnsoncherian.
Your geojson is very, very dirty.
Just take a look at these small examples:
![image](https://user-images.githubusercontent.com/2399810/28315115-6d4357ae-6bbd-11e7-8227-4233597a86eb.png)
![image](https://user-images.githubusercontent.com/2399810/28315249-f82deeb0-6bbd-11e7-9720-4157dbfc397c.png)

Instead of a lines, these coast are "steps". Each step is a vertex and will create

[2017-07-18 11:36] #175 closed

[2017-07-18 12:11] codeofsumit commented on #173
@thomasvoigt great, added it here:
https://github.com/codeofsumit/leaflet.pm/pull/177

do you have a chance to test that branch?
I'd merge it tomorrow and do the release by the end of the week 👍

[2017-07-18 14:20] thomasvoigt commented on #173
Works like a charm, thanks!

[2017-07-18 14:21] #173 closed

[2017-07-18 18:20] johnsoncherian commented on #175
These GeoJSON layer defines political boundaries of a country. I cannot change it just like that. May be I'll have to look into some other API's like OpenLayers.?

[2017-07-18 18:37] themre commented on #175
damn 15mb file? :) how many points does it contains? at our firm we have GWT topology editor and colleague optimized geometry editing by eliminating points that render close to each other (let's say if 30 points were present in 30x30 pixels, only 1 was rendered).
Leaflet can also render A LOT of points as SVG, but you need to take a look at the specs and you'll see that it uses simplify function t

[2017-07-19 07:57] codeofsumit commented on #175
@johnsoncherian of course I don't expect you to change a countries border ;-)
Just smooth out the data. I'm sure the border isn't zick-zack shaped like in the screenshots.
The border could also be drawn like this, then it'd be no problem.
![image](https://user-images.githubusercontent.com/2399810/28356484-8c279b34-6c68-11e7-8bbe-1fd17d3c2602.png)
![image](https://user-images.githubusercontent.com/

[2017-07-19 10:21] codeofsumit commented on #174
I'll close this now - please provide a file to test or a JSfiddle and reopen.

[2017-07-19 10:21] #174 closed

[2017-07-21 09:26] denny123 opened #179 "Not working event 'pm:drawstart'!"
For version 0.17.1.
Not working event 'pm:drawstart' for marker drawbutton.
P.S.: no folder 'dist' in download source, i get from https://unpkg.com/leaflet.pm@0.17.1/dist/leaflet.pm.min.js

[2017-07-21 09:37] sshikov opened #180 "No dist in release zip"
There is no such files in release archive.

[2017-07-21 11:45] codeofsumit commented on #179
@denny123 can you elaborate the issue with the `dist` folder? I didn't get that

[2017-07-21 11:49] denny123 commented on #179
nevermind folder 'dist' if this source is correct, i need elaborate issue with the 'pm:drawstart' first.

[2017-07-21 11:51] #179 closed

[2017-07-21 11:51] codeofsumit commented on #179
the `pm:drawstart` issue is a bug. Just fixed it. Will release later today or tomorrow 👍

[2017-07-21 11:53] codeofsumit commented on #180
hmm you're right. As I removed bower support the dist folder is created during `npm install`.
I don't want to include the dist folder in version control.
I have to check how other libs are solving this.

[2017-07-21 11:53] denny123 commented on #179
0.17.2 version or current?

[2017-07-21 11:54] codeofsumit commented on #179
I'll release 0.17.2 today or tomorrow that includes the fix.

[2017-07-21 11:55] denny123 commented on #179
Ok, thanks!

[2017-07-21 12:00] codeofsumit commented on #180
@sshikov I'll change the description of Install Manually to

Download [`leaflet.pm.css`](https://unpkg.com/leaflet.pm@0.17.1/dist/leaflet.pm.css) and [`leaflet.pm.min.js`](https://unpkg.com/leaflet.pm@0.17.1/dist/leaflet.pm.min.js) and include them in your project.

[2017-07-21 12:00] #180 closed

[2017-07-21 12:13] codeofsumit commented on #179
@denny123 just released it

[2017-07-21 12:18] denny123 commented on #179
i see, and i see issue with 'dist' too - thanks, but i have more issue(pm:remove) - may be more create issue this -)

[2017-07-21 12:31] denny123 opened #181 "Problem with 'pm:remove'"
I have featuregroup layer on map(with layers). If update(or add) layer in featuregroup and after add to map, then fire 'pm:remove' but not to all objects/markers(i dont why), and after some markers(not all) cant removed. Featuregroup set 'pmIgnored:true'.

[2017-07-21 13:14] codeofsumit commented on #181
hey @denny123, can you provide a JSfiddle to reproduce the issue please?

[2017-07-21 13:18] denny123 commented on #181
i bad know JSfiddle, and i need find code on my script(big and i dont remember where), becouse not now -).

[2017-07-21 14:44] denny123 commented on #181
Not working 'pm:drawend' for marker...

[2017-07-21 14:51] denny123 opened #182 "Not working 'pm:drawend' for markers!"
For version 0.17.2.
Not working 'pm:drawend' for markers and 'pm:drawend' = 'pm:create' for polygons(may be more).
Maybe set 'pm:drawend' for button how for 'pm:drawstart'?
For marker working 'pm:create'.

[2017-07-21 21:05] adamtLICOR opened #183 "Polygon's bounding rectangle ( getBounds() ) not updated after it has been edited"
First off, love `leaflet.pm`!

Anyway, I'm working with a [point-in-polygon detection library](https://github.com/hayeswise/Leaflet.PointInPolygon) to detect points within `leaflet.pm` Polygons.

To test, I've drawn a bunch of red dots on the map, coloring them green if they are inside the Polygon:
![square_works](https://user-images.githubusercontent.com/16004285/28482099-88e52368-6e2c-11e7-9601-

[2017-07-21 21:26] codeofsumit commented on #183
Hi there, very interesting!
Try a `pm:edit` event on the map and see if the return layer has the updated bounding rectangles:

[code]

If that works, you probably have to re-trigger the calculation of the point-in-polygon library when a layer is edited.
If the bounds are still wrong within the event I'd have to investigate more.

Let me know!

[2017-07-21 21:30] codeofsumit commented on #182
yup, sorry should've added this before too - I was fixing the previous issue on the go before.
Will fix this weekend!

[2017-07-21 21:31] codeofsumit commented on #181
ok I have an idea of the problem. I will investigate!

[2017-07-21 21:58] adamtLICOR commented on #183
Hello, again.

Unfortunately, logging out the bounds after both a `pm:edit` and `pm:dragend` event indicate that the bounds are not updated correctly within those events either. 😞

[2017-07-21 22:02] codeofsumit commented on #183
hmm ok, I'll investigate over the weekend!
If you are able to provide a JSfiddle with your example, it'd be helpful too!
Thanks for reporting I'll keep you updated

[2017-07-21 22:36] adamtLICOR commented on #183
Here you go: https://jsfiddle.net/Mesonyx/648yvuop/21/

To use it:
1. Draw a shape on the map, and then click the DRAW DOTS button above the map. It should fill in the entire shape with green dots.
2. Click the REMOVE DOTS button above the map
3. Edit the polygon in such a way that part of the new polygon is **outside** the original polygon's rectangular bounding box (converting a square into a pe

[2017-07-23 17:07] sshikov commented on #180
Thats fine, thank you.

[2017-07-23 18:04] codeofsumit commented on #183
thanks for the fiddle. Just a side thought: Is it possible that the dots (L.circle) should have `pmIgnore` due to performance reasons? Otherwise the Edit Button will try to enable all of them to edit - is this no problem in your app?

[2017-07-23 18:34] codeofsumit commented on #183
so I made it work this far:
![boundsissue](https://user-images.githubusercontent.com/2399810/28501896-10314ada-6fe6-11e7-93a6-0402df75d40b.gif)

As you can see, the points update correctly for:
1. editing the polygon and making it smaller
2. dragging the polygon

It's not working for
1. editing the polygon and making the polygon larger than it's original bounding box (until being dragged).

This i

[2017-07-23 23:19] adamtLICOR commented on #183
Hmmm -- that's interesting (the dragging fixing it, I mean).

If nothing else, I can look into simulating the dragging behavior after a vertex is updated in my app (so whatever process is fixing the bounding box behind the scenes automatically rebuilds the box)

And I should have mentioned this earlier, but making a Polygon smaller actually still "works" (because the bounding box is bigger than th

[2017-07-24 13:54] tkleinke opened #184 "Polygon/Line isn't editable anymore after deleting one of its points (Leaflet 1.1.0)"
After deleting a point of a polygon or a line it's not possible to create new points or move existing ones. The geometry is still draggable though. The bug only occurs with leaflet 1.1.0, with 1.0.3 everything works fine.

[2017-07-24 16:40] adamtLICOR commented on #183
I fixed it!

Kind of...

I still want to investigate further, because my workaround feels like too much hax.

But after investigating based on your fiddle, I noticed this line of code in `Drag.js`:

`this._layer.setLatLngs(newLatLngs).redraw();`

After a `pm:markerdragend` event, the **Polygon** has an up-to-date **LatLng** coord array, but an old bounding box. However, if I call `setLatLngs()` wi

[2017-07-24 17:15] codeofsumit commented on #184
Argh crap ok thanks for reporting. They changed something that broke this plugin - we noticed the problem in #183 and you just gave us the reason. Thanks!
I'll dig into it and fix it asap

[2017-07-25 07:06] #182 closed

[2017-07-25 07:08] denny123 commented on #182
fixed on version 0.17.2?

[2017-07-25 07:14] codeofsumit opened #185 "snap event on markers of shape fires too often"
it keeps firing on drag while being snapped

[2017-07-25 08:37] codeofsumit commented on #181
@denny123 so you have to set `pmIgnore` to the individual layers in your featureGroup. The featureGroup in leaflet doesn't accept any options.
If you can't make it work, please create a test case on jsfiddle https://jsfiddle.net/ and I'll help you to figure it out or - if there is an issue with leaflet.pm - can replicate and fix it.

[2017-07-25 08:43] denny123 commented on #181
More information: if pmIgnore:false on featureGroup then remove(if click on marker in featuregroup) from map all layers in feaureGroup, and if pnIgnore:true then remove(if click on marker in featuregroup) only this marker(i need this), but while loading data to feauregroup fire pm:remove too....(

[2017-07-25 08:46] codeofsumit commented on #181
@denny123 it sounds like a bug but (sorry) your english is very bad and I'm having a hard time to understand the exact usecase to replicate it.

Please just paste the code or create a test case how you use leaflet.pm in your app so I can replicate the issue

[2017-07-25 08:58] codeofsumit commented on #183
@adamtLICOR thanks for this! I traced down the issue and also asked the question to clarify here:
https://gis.stackexchange.com/questions/249839/leaflet-redraw-doesnt-trigger-bounds-update-like-setlatlngs

I'll have a new branch ready today - it'd be really helpful if you could check the branch out and test it against your codebase. Would that be possible? I'll post the link to the branch as soon

[2017-07-25 09:01] denny123 commented on #181
i undestand, i need time.

[2017-07-25 09:08] codeofsumit commented on #181
this is the branch:
https://github.com/codeofsumit/leaflet.pm/pull/186

[2017-07-25 09:11] denny123 commented on #181
this fix in new version?

[2017-07-25 09:48] codeofsumit commented on #181
shit, sorry, wrong issue

[2017-07-25 09:50] codeofsumit commented on #183
@adamtLICOR here's a new fiddle - seems to be fixed with [this branch](https://github.com/codeofsumit/leaflet.pm/pull/186):
https://jsfiddle.net/648yvuop/23/

[2017-07-25 11:23] codeofsumit commented on #184
Seems like it's a bug in leaflet
https://github.com/Leaflet/Leaflet/issues/5638

[2017-07-25 15:05] denny123 commented on #181
https://jsfiddle.net/xp4rsqb6/63/ - here not all error, but while many 'remove' if remove marker.(i dont speak english).

[2017-07-25 15:17] adamtLICOR commented on #183
Hey, **PR** looks great!

I'm going to pull this down now and test it out!

I'll report back ASAP.

Thanks again for the help!

[2017-07-25 19:50] adamtLICOR commented on #183
I commented directly on the **PR**, too, but this new branch seems to work.

(See the **PR** for screenshots)

[2017-07-25 19:54] codeofsumit commented on #183
fixed by https://github.com/codeofsumit/leaflet.pm/pull/186

[2017-07-25 19:54] #183 closed

[2017-07-26 06:48] denny123 commented on #181
i dont undastand - this fixed or no?

[2017-07-26 07:17] codeofsumit commented on #181
no this isn't fixed yet. I accidentally mentioned this issue in a git commit and Github automatically closed it. Sorry.

It's still open.

[2017-07-26 07:42] denny123 commented on #181
https://jsfiddle.net/xp4rsqb6/75/ - update(if many add then fire remove). I need fire 'pm:remove' only by this plugin(not by clearLayers and other)?

[2017-07-26 08:00] codeofsumit commented on #181
Thanks! Ok I think I know what the issue is.

You want `pm:remove` to only be fired when you delete a layer via leaflet.pm, not when you use leaflets own functions like `layer.remove()` - is that correct?

That'd also mean we need a new function to remove layers, like `layer.pm.remove()` and only this would fire `pm:remove`.

Is that correct?

[2017-07-26 08:02] tkleinke commented on #184
Thanks for looking into it! I'll switch back to 1.0.3 for now.

[2017-07-26 08:04] denny123 commented on #181
Yes! Fire 'pm:remove' only if 'map.pm.toggleGlobalRemovalMode(true);' and click on marker(example).

[2017-07-26 09:07] denny123 commented on #181
MORE: if edit marker(drag,editPolygon:true) then fire 'pm:remove' too.

[2017-07-26 09:33] codeofsumit commented on #181
hmm no the `pm:remove` event should be fired when a layer is removed through leaflet.pm. Doesn't matter if edit mode is enabled or not.
GlobalRemovalMode will also fire `pm:remove` if a layer is removed that way obviously.

[2017-07-26 09:39] denny123 commented on #181
https://jsfiddle.net/xp4rsqb6/77/ -here fire 'pm:remove' when dragend. Yes, if remove fire 'pm:remove', but i think this fire only if click on marker(GlobalRemovalMode enable), otherwise why button remove?

[2017-07-26 18:28] shuaihan22 opened #187 "Custom color when polygon is in edit mode"
Is there a way to customize color when polygon is in edit mode?

[2017-07-26 18:47] shuaihan22 commented on #187
Never mind, I found a way to do it.
polylayer.setStyle({color:'#3388ff'})

[2017-07-26 22:00] codeofsumit commented on #187
yes, you can do that with leaflet specific functions when appropriate.

[2017-07-26 22:00] #187 closed

[2017-08-02 19:15] tecnocoma opened #188 "show radius option"
It would be very useful to set an option for showing a tooltip with realtime radius measure (in km) while drawing circle, not only on creating but also on editing. Leaflet.draw does something similar (see http://jsfiddle.net/88bdrzkr/13/ ) but only on creating...and your plugin is much better. But lacks of this useful functionality...that others people on the web asked without answer (for Leaflet)

[2017-08-02 19:21] codeofsumit commented on #188
@tecnocoma users of leaflet.pm used this plugin in addition to leaflet.pm in the past
https://github.com/ProminentEdge/leaflet-measure-path

I have to implement the same functionality at car2go pretty soon. If the leaflet-measure-path and leaflet.pm combo is not sufficient, I'll add it here as an option.

I'll keep you posted about that and please, try `leaflet-measure-path` in the meantime and le

[2017-08-03 07:21] PanStar opened #189 "The edit mode will change 'draging' of map"
Step:
1. Initialize the map to no drag-disable
2. Add a polygon and edit it
3. Exit edit mode
4. Now, map is drag-enable.

[2017-08-03 07:58] codeofsumit commented on #189
can you create a JSFiddle or paste the map-initialization code?

[2017-08-03 08:05] PanStar commented on #189
map.dragging.disable();

[2017-08-03 09:02] PanStar commented on #189
# demo.js
[code]
![demo.gif](https://github.com/PanStar/demoLib/blob/master/image/pic.gif?raw=true)

[2017-08-03 09:41] codeofsumit commented on #189
thanks! I understand the issue and will fix it asap.

[2017-08-03 10:02] #189 closed

[2017-08-03 10:03] codeofsumit commented on #189
Just fixed it in the `develop` branch. Would be cool if you could test that.

[2017-08-03 10:14] PanStar commented on #189
Thanks! This is a excellently project.

[2017-08-03 14:49] themre opened #190 "Some events not firing"
Hi,
I'm using latest leaflet.pm version with Leaflet 1.0.3 and some events aren't firing (markerdragend, dragend ,  ...) but create and remove events do fire. Does also someone else notices this problem?

[2017-08-03 15:00] codeofsumit commented on #190
hi @themre - can you create a JSfiddle so I can see the issue? Then I can debug and help/fix

[2017-08-03 15:20] themre commented on #190
http://jsfiddle.net/LnzN2/1101/
I'm trying to detect when I draw points of polygon and when I finish editing. Basically I want to detect all editing events so start and finish of edit mode would be enough (so I could get all shapes that were drawn).

[2017-08-04 07:57] #185 closed

[2017-08-04 08:01] codeofsumit commented on #190
@themre how about this?
http://jsfiddle.net/LnzN2/1102/

there is no `pm:edit` for the map, it's only for the layers.
So something like this should work:

[code]

does that solve your issue?

[2017-08-04 08:13] codeofsumit commented on #184
@tkleinke seems to be fixed in their latest master
https://jsfiddle.net/3v7hd2vx/363/

hope they'll release soon 🤞

[2017-08-04 08:17] themre commented on #190
I will try later today,thanks. Does this fire also when dragging nodes? So I can save changes.

[2017-08-04 08:18] codeofsumit commented on #190
It fires after you dragged a node and/or created/deleted a new node

[2017-08-04 12:17] codeofsumit commented on #181
ok @denny123 I think I won't fix this.

If I understand you correctly, you want `pm:remove` to only fire when GlobalRemovalMode is active.

But `pm:remove` should be fired whenever a layer that is handled by leaflet.pm is removed from the map. Doesn't matter how.

The Toolbar and the "GlobalRemovalMode" is just a graphical functionality for something that can be done via the API too.

If you want

[2017-08-04 12:17] #181 closed

[2017-08-04 13:17] denny123 commented on #181
Ok, thnx.

[2017-08-05 11:06] themre commented on #190
hi, sorry for being late. I tried it but it fires when your start and release the drag. I tried using only
[code]
on newly created layer and it doesn't fire. How can I use this?

[2017-08-05 18:16] codeofsumit commented on #190
@themre

[code]

fires whenever the layer **changes**.
That means AFTER you dragged an existing vertex.
Or as soon as you add a new vertex.

If you simply drag one of the "middlemarkers" (the small dot between two vertexes), you basically create AND edit a vertex so it fires when you start dragging (because you created a vertex) and when you release it (because you edited the newly created vertex)

[2017-08-05 18:22] themre commented on #190
yeah, `pm:edit` works fine, I was just asking how to use `pm:drag` because I'm not able to call it.In the docs it says that this event is also available, just don't know in which case it is fired.

[2017-08-05 18:22] #190 closed

[2017-08-05 18:26] codeofsumit commented on #190
@themre ahh ok. I thought you wanted to have events when you start and end dragging a vertex. If you want that you can use this:
[code]
See this fiddle as an example: http://jsfiddle.net/LnzN2/1116/
(Draw a polygon, enable edit mode and start editing it (look into the console too))

`pm:drag` is fired when you move the whole layer. See this fiddle:
http://jsfiddle.net/LnzN2/1117/
(Draw a polygon,

[2017-08-05 18:35] themre commented on #190
perfect. don't know why `markerdragend` didn't work, perhaps there was some typo. oh well... thanks again :)

[2017-08-07 06:48] codeofsumit commented on #182
@denny123 it's released now

[2017-08-07 07:28] codeofsumit commented on #184
The leaflet issue is closed so I'll close this one too.
The next leaflet release will include the fix - please use 1.0.3 until then.

[2017-08-07 07:28] #184 closed

[2017-08-08 07:49] sshikov opened #191 "Is it possible to set pmIgnore=true by default?"
Its a bit too inconvenient to set this option for each layer created, because sometime it could be created in 3rd party plugin. It would be great if I can set pmIgnore = true for all layers, and then select some layers to be handled by PM.

[2017-08-08 16:15] codeofsumit commented on #191
definitely something I can add in some way or another 👍
will look into it and do it if suitable

[2017-08-10 10:46] bertrandmd opened #192 "possibility to fire value of edited layer with 'pm:edit' event ?"
Hello,

do you think is possible to add a hook on layer who been edited when fire 'pm:edit' event ?

it could be a good way to be aware of which layer been edited, especially to communicated with backend.

thanks for your reply and for your amazing plugin !!

[2017-08-10 10:50] codeofsumit commented on #192
@bertrandmd Hi,

do you want the layer or the vertex/coordinate?

if you have:
[code]
the edited layer is obviously `layer`.

Maybe I misunderstood your question? It'd help if you can provide a code example too.

[2017-08-10 18:16] codeofsumit opened #193 "marker is not snapped to circles or lines (see latest demo)"
fix it BOI

[2017-08-10 21:08] codeofsumit opened #194 "Cursor is weird"

[2017-08-11 08:55] codeofsumit commented on #193
nevermind

[2017-08-11 08:55] #193 closed

[2017-08-11 11:37] bertrandmd commented on #192
Hi,
thanks for your fast reply.

if you use
[code]
with `e` you could not retrieve the layer who been edited ?

https://github.com/codeofsumit/leaflet.pm/blob/develop/src/js/Edit/L.PM.Edit.Line.js#L327
I've changed with `this._layer.fire('pm:edit', {layer: this._layer});` and then I can refer to the updated line layer at `e.layer`.
Do you recommended another way to do this ?

thanks

[2017-08-11 18:23] Mesonyx commented on #146
I have this implemented!

If I can be made a contributor, I'm more than happy to PR it, so you can approve/suggest changes!

[2017-08-11 19:14] codeofsumit commented on #146
hey @Mesonyx. If you forked the repo and implemented this you can simply create a PR :-). You'll become a contributor automatically once it's merged.
Sorry that it's taking so long, I'm currently working on support for holes.

[2017-08-11 19:21] Mesonyx commented on #146
Ahhhh... That's my mistake.

I cloned the repo, not forked it. Didn't realize there was a difference.

HOW DO I OPEN SOURCE, GUYZ?

[2017-08-14 05:44] wandergis opened #197 "doubleclick auto complete polygon?"
doubleclick auto complete polygon

[2017-08-14 08:02] codeofsumit commented on #197
This is already possible with the option
finishOnDoubleClick: false
when enabling drawing mode programmatically.
Does that help or do you want that option with the toolbar?

[2017-08-14 08:14] wandergis commented on #197
that's awesome.

[2017-08-14 08:14] #197 closed

[2017-08-14 16:03] codeofsumit commented on #192
this sounds like a bug. I'll get it working again - pinky swear 🤞

[2017-08-16 06:27] codeofsumit commented on #192
@bertrandmd ok I checked - it's available under `e.target`. Does that work for you? If not, could you provide a JS fiddle that shows the error?

[2017-08-17 16:01] josejaner commented on #190
Just as there is an 'pm:drawstart' event, it would be ideal if there were an event
'pm:editstart', to enable or disable layers.

map.on('pm:editstart', function(e) {
	road.pm.enable(options);
	road.pm.disable();

        road2.pm.enable(options);
});

[2017-08-17 16:34] codeofsumit commented on #190
@josejaner you basically want to hook into the "global edit mode" button and add you own logic, right?
I'd suggest to add your own button for that. The "global edit mode" button just loops through all map layers and fires `pm.enable()` them.

[2017-08-17 19:18] josejaner opened #199 "Clean the trace after creating a layer?"
Is it possible to clean the trace, once a new item is created?

map.on('pm:create', function(e) {
    {my logic}
    map.pm.clearDraw('Line');
});

[2017-08-18 06:45] codeofsumit commented on #199
@josejaner you mean deleting the drawn layer?
Just like you would with regular leaflet:

[code]

[2017-08-18 06:45] #199 closed

[2017-08-18 12:06] josejaner commented on #199
Thanks for your interest and help, it's an excellent project.

[2017-08-18 12:08] codeofsumit commented on #199
did my comment solve your problem? Let me know if there is an issue with leaflet.pm! 👍

[2017-08-19 13:33] josejaner commented on #192
Based on this information, I have tried in several ways to do the following:
	road.on('pm:edit', function(e) {
		 var layer =e.target;
		 var infoJson=""+ JSON.stringify(elemento.toGeoJSON());
		  alert(infoJson);
	});
Do you have a different path for this?

[2017-08-21 23:43] josejaner opened #200 "error in Maximum call stack size exceeded at Array.find"
- I get this error frequently...
L.PM.Edit.LayerGroup.js?2cd0:89 Uncaught RangeError: Maximum call stack size exceeded at Array.find (native) at enabled

[2017-08-22 20:11] josejaner commented on #200
The error is displayed when combining leftlet.pm and leaflet.polylineDecorator

[2017-08-22 20:59] codeofsumit commented on #200
Hi @josejaner, please provide a JSfiddle, showing the error on a button click or something

[2017-08-24 10:00] latitudehopper opened #201 "Native way to limit feature count?"
I want to limit the number of features that can be created. Is there a native way within leaflet.pm?

[2017-08-24 10:32] latitudehopper commented on #201
This is odd (probably obvious to you). Once I have edited the map, I can no longer clearLayers() or removeLayer() from my map. If I call either of these pre-edit, it works. What have I missed?

[code]

[2017-08-24 14:28] codeofsumit commented on #201
can you please create a jsfiddle showing the problem and what you try to achieve? I think this is doable natively with leaflet functionality.

[2017-08-25 08:29] latitudehopper commented on #201
HI, Sumit. I have resolved this by using Leaflet Draw. Essentially, to allow for only one geometry within the layer I am triggering a maker.clearLayers() on the events that are relevant. In draw this works but I couldn't get it to work with leaflet.pm as it only seems to work in the first instance, any further layer edits do not clear the layers. It could possibly be a code issue on my side, eithe

[2017-08-25 12:04] codeofsumit commented on #201
ok, let me know if you need additional help 👍

[2017-08-25 12:04] #201 closed

[2017-08-25 20:41] adamtLICOR opened #202 "If a polygon is dragged such that the cursor leaves the map container, map is no longer scrollable"
1. Create a Polygon

![screen shot 2017-08-25 at 3 37 38 pm](https://user-images.githubusercontent.com/16004285/29731771-6221af7c-89ab-11e7-8784-b026acd18769.png)

2. Drag the Polygon such the the cursor leaves the map container.

![screen shot 2017-08-25 at 3 37 44 pm](https://user-images.githubusercontent.com/16004285/29731785-6cf81f4e-89ab-11e7-971c-5f63c892a881.png)

3. Click back into the map

[2017-08-29 08:38] ivanjaros commented on #201
Yeah, limiting user to max number of shapes would be nice.

[2017-08-29 11:39] ivanjaros opened #204 "pm:remove fired when markers not related to PM removed"
I just spen quite some time figuring out why my app started to behave so weirdly and I've finally found that the pm:remove event is fired when markers not related to PM code are removed fomr the map.

[2017-08-29 12:16] codeofsumit commented on #204
Can you provide a JSfiddle with a repro please?

[2017-08-29 15:05] codeofsumit commented on #202
Hey, thanks for the PR - will check it this week! Sorry for the late reply I was on vacation.

[2017-08-30 03:01] leekosal commented on #150
Hello,

I downloaded package. So many files. I want to look for only js and css
file. How can i easily test it?
Thanks.

Regards,
Kosa

On Tue, Aug 29, 2017 at 10:00 PM, Sumit Kumar <notifications@github.com>
wrote:

[2017-08-30 07:50] codeofsumit commented on #150
Open terminal, go to project folder. Type

npm install && npm run build

Then there will be a dist folder with CSS and JS files in it. Thanks for trying!

[2017-08-30 08:36] codeofsumit commented on #150
Here are two tests that I've posted on twitter yesterday:

![big test](https://user-images.githubusercontent.com/2399810/29863151-15929280-8d6f-11e7-90e8-1935695175aa.gif)
![split polygon](https://user-images.githubusercontent.com/2399810/29863152-15938352-8d6f-11e7-86bf-e5cc47861782.gif)

[2017-08-30 08:43] codeofsumit opened #205 "When second last marker is removed, remove layer"
makes no sense to have a layer with 1 coordinate. Is testable with lines and polygons (just remove all vertexes)

[2017-08-30 08:43] #150 closed

[2017-08-30 08:44] codeofsumit commented on #150
merged it now. Please test it if you can just to make sure. Will be in the next release 👍

[2017-08-30 08:46] codeofsumit opened #206 "Allow polygon holes (ring 1 - infinity) to be snappable"

[2017-08-30 09:01] #202 closed

[2017-08-30 09:14] codeofsumit opened #207 "Create cut events"
`pm:cut` event should be fired when cutting a polygon

[2017-08-30 10:36] codeofsumit opened #208 "Snapping throws errors when layer is removed during draw"
Enable drawing for e.g. circle
Enable edit programatically for a polygon on the same map
remove all vertexes of polygon while in circle drawing mode
console errors because snapping calc is fired against missing polygon coordinates

[2017-08-30 10:42] #205 closed

[2017-08-30 11:52] codeofsumit commented on #192
closed. Please reopen if the provided suggestion doesn't work and the issue is still present

[2017-08-30 11:52] #192 closed

[2017-08-30 12:03] codeofsumit opened #210 "Improve test coverage!!!"
The plugin becomes too complex to test manually. Finally automate testing for all features, issues and stuff

[2017-08-30 13:41] #207 closed

[2017-08-30 13:42] codeofsumit commented on #188
@tecnocoma have you tried using leaflet-measure-path?

[2017-09-01 09:10] themre commented on #201
I solved this by doing this:
[code]

[2017-09-01 09:14] codeofsumit commented on #201
@themre thanks for your input.
@ivanjaros that's definitely something you should provide via your app logic. Use the hooks of leaflet.pm and as soon as your defined limit is hit, deactivate leaflet.pm, hide the toolbar, or remove any layer that is created via `pm:create`.

[2017-09-01 09:20] themre commented on #201
`clearLayers()` doesn't work since if has to be a group, which geoJson isn't.

[2017-09-04 08:23] #146 closed

[2017-09-04 09:39] codeofsumit commented on #75
Also change the displayed button order in the Toolbar. It's a bit random right now

[2017-09-07 16:58] tumick opened #213 "Error in L.PM.Edit.Marker.enable()"
[code]

[2017-09-08 07:29] codeofsumit commented on #213
sounds like a stupid bug. Will check, fix and release this weekend 🤞

[2017-09-10 08:46] #75 closed

[2017-09-10 08:52] #213 closed

[2017-09-12 10:27] ivanjaros commented on #201
@themre so you have to somehow store the layers in specific variable to access them?

[2017-09-12 10:28] ivanjaros commented on #204
I "fixed" it by checking if there is 'icon' in the event.layer.options. dirty af but does the job.

[2017-09-12 10:37] ivanjaros commented on #201
Also, is there an alternative leaflet library I can look at instead of this one that would suit my needs better?

[2017-09-12 11:23] codeofsumit commented on #204
@ivanjaros again: please provide a basic JSFiddle so we can take a look at the problem and fix it.

[2017-09-12 11:27] themre commented on #201
yes. i'm using this with React. but for this feature I think it's enough to pass one variable `maxFeatures` and if it exists, it stores it in internal array and then remove old items once it's full.

[2017-09-12 11:46] ivanjaros commented on #201
Thank's. I'm currently implementing previous verison of code into Vue....finally I have solved this by:

[code]

Where the `setMapArea` will push the layer into `mapPoly` variable and the `unsetMapArea()` will `mapPoly.forEach((layer) => mapObject.removeLayer(layer));`

[2017-09-12 11:52] themre commented on #201
no, that's ugly. especially querySelectorAll. e.g. in React I define once component is mounted:
[code]

[2017-09-12 19:13] themre commented on #147
I tried double click, but it doesn't work. I set up a demo: http://jsfiddle.net/LnzN2/1225/. Could we solve it with right click button (so there is no problem with clicking and adding vertex?

[2017-09-12 19:49] codeofsumit commented on #147
@themre finishOnDouble click generally works: http://jsfiddle.net/LnzN2/1226/

The problem in your fiddle is, that the Toolbar doesn't accept the same options as the API.
So you can't pass "finishOnDoubleClick" to it. The relevant issue is #117. Could you add your need in there so we can discuss solutions?

[2017-09-13 16:32] themre commented on #147
Could we provide option `finishOn` as name of the event? because then someone could decide to handle closing polygon on different events. like `finishOn: 'contextmenu'`. this line https://github.com/codeofsumit/leaflet.pm/blob/develop/src/js/Draw/L.PM.Draw.Line.js#L51 would be changed to something like:
[code]

[2017-09-13 19:15] themre commented on #147
![context_finish](https://user-images.githubusercontent.com/10845050/30396021-7567f290-98c8-11e7-8c90-1bc10ec3bfda.gif)
this is a sample, how it would work with right click. i can create PR if you would like. I noticed in leaflet docs this event is fired on long press on devices, so this is also covered.

[2017-09-13 19:27] codeofsumit commented on #147
that's a neat idea. Please do a PR, I'll review next week 👍

[2017-09-16 12:41] ivanjaros opened #215 "Unfocus button"
Hi,
I would like to unfocus button(for example circle or polygon) if user moves cursor out of the map without drawing anything. What is the recommended way to do this?

[2017-09-16 12:50] codeofsumit commented on #215
mouseleave on your container div and then disable all buttons via the leaflet.pm API.

you can get all toolbar buttons with `map.pm.Toolbar.getButtons();`.
you can get a buttons state with `button.toggled() // returns true or false`.
you can trigger a click on a button with `button._triggerClick()`.

Something like this
[code]

[2017-09-16 14:17] ivanjaros opened #216 "How do I recreate layer from geojson?"
I have the geojson data saved from layer that user has drawn and I want to re-create it.
I was able to create the layer properly but the style is missing(ie. layer is there but is invisible).
What is the proper way to create the layer with the PM styling?

[code]

[2017-09-16 14:19] codeofsumit commented on #216
you should do it the other way around. Don't try to put leaflet.pm's style on other layers in your app.
Give leaflet.pm or the created layers in the pm:create callback your own style. And then use it accross your application.

[2017-09-16 14:19] #216 closed

[2017-09-16 14:19] codeofsumit commented on #215
reopen if you still have an issue here

[2017-09-16 14:19] #215 closed

[2017-09-16 17:53] ivanjaros opened #217 "Enable snapping only for closing the polygon"
Hi,
I have some markers on the map and when I'm in drawing mode the snapping to these markers is undesired. How do I configure PM to snap only to the opening point when I'm closing the polygon?

[2017-09-16 18:12] codeofsumit commented on #217
press ALT while drawing to disable snapping temporarily

[2017-09-16 18:12] #217 closed

[2017-09-16 19:34] ivanjaros commented on #217
That's really not a solution.

[2017-09-16 19:36] codeofsumit commented on #217
what solution do you prefer? Selective snapping (only for specific vertexes) is not supported right now.
Before even thinking about adding that, I need to support options for the Toolbar so you can pass e.g. `snappable: false`.

[2017-09-16 19:38] codeofsumit commented on #204
Please reopen if the issue persists and you can provide a reproduction.

[2017-09-16 19:38] #204 closed

[2017-09-19 11:20] richorama opened #218 "Is it possible to get access to the layer while it is being drawn?"
In my particular use case I would like to limit the number of vertexes in a polyline. `pm:create` gives me the polygon, but after the drawing has finished. Ideally I'd like it on `pm.drawstart`.

[2017-09-19 11:25] codeofsumit commented on #218
hey @richorama - doesn't the `pm:drawstart` event give you the layer? Under `e.target` or something? Can't test right now.
If you want - give a little JSFiddle and we collaborate for a solution. If we need some more events in leaflet.pm to achieve that I'll have a look to implement them. But let's start with the fiddle - maybe there is a solution already.

[2017-09-19 11:35] richorama commented on #218
@codeofsumit  thanks for the quick response!

I think target is the map:

`pm:drawstart` gives me an object with 3 properties:

[code]

`pm:created` gives me an an extra property (`layer`) which is the polyline:

[code]

I'll take a look at jsFiddle in a minute..

[2017-09-19 12:43] richorama commented on #218
jsFiddle: https://jsfiddle.net/cetv4pgs/2/

You'll need to open the console.

I'd be happy to create a PR for this..

[2017-09-20 07:52] codeofsumit commented on #218
ah! Thanks for the Fiddle.
Would it be enough for you if the layer was passed inside `pm:drawstart`? I'd love a PR for this - should be an easy one.

Another `https://github.com/codeofsumit/leaflet.pm/pull/219` focuses on giving events per created vertex, which will help your usecase too I think?

[2017-09-20 08:13] richorama commented on #218
I think passing a layer property through on `pm:drawstart` would be perfect.

One thing I did notice is that internally a temporary layer is created for drawing, and then a new layer is created for `pm:create` event. So I was going to suggest passing the temporary layer on `pm:drawstart`, but perhaps give it a different property name (like `editLayer`) to make it obvious that it's not the final la

[2017-09-20 08:17] codeofsumit commented on #218
@richorama very good point - yes, we use a temporary layer to draw. Pass that one and let's name it... 🤔  ... `workingLayer`.
The documentation in the `README.md` should include a short sentence why this is named working layer and that's it's not the actually returned layer during `pm:create`.

[2017-09-20 08:21] richorama commented on #218
ok, thanks, stand by for a PR later today :¬)

[2017-09-20 12:32] rendrom opened #222 "Problem to build with grunt concat on Windows"
I have a part of grunt config like this:
[code]
And this error on build

`Warning: Unable to read "C:\Users\rendr\gisw\torus-map\torus-map\node_modules\leaflet.pm\dist\leaflet.pm.css.map*" file`

But after the `*` symbol delete from leaflet.pm.css

103: `/*# sourceMappingURL=leaflet.pm.css.map/`

The build is normal

[2017-09-20 12:35] codeofsumit commented on #222
so you're trying to include the sourcemap for leaflet.pm? I don't think this works that easily - why do you need that?

[2017-09-20 12:47] rendrom commented on #222
grunt.concat tries to include it himself, i think. Then see /*# sourceMappingURL=leaflet.pm.css.map*/ in leaflet.pm.css

[2017-09-20 12:54] codeofsumit commented on #222
ah ok I understand. Will try to disable sourcemaps for the production build.

[2017-09-20 18:52] themre opened #223 "TypeScript Typings"
i'm no TS expert but I would love some TS typings in my VSCode that works nicely with them. I can make initial PR and try to build types, but it would be nice if someone else also has some knowledge of it.

[2017-09-20 18:52] themre commented on #223
Also we can add flow typing as well.

[2017-09-21 13:57] codeofsumit commented on #223
@themre I'm not using TypeScript nor Flow but I also have no problem with them being added for TS/Flow users. Would welcome a PR but I agree with you that at least a second TS user should look over them.

[2017-09-21 16:08] newmanw opened #224 "Fire event for line/polygon marker vertices on create/select"
Add an event to DRAWN and EDIT when a vertex is created or selected.

Discussion here: https://github.com/codeofsumit/leaflet.pm/pull/219

[2017-09-21 16:29] codeofsumit commented on #224
will do

[2017-09-21 19:53] newmanw opened #225 "Vertex marker events no longer include an index"
Vertex marker events used to include an _index property, giving an index into the coordinates array.  I completely understand that this was intended to be a private variable.  However now when listening to those events (ie pm:markerdragend) there is no way to tell which vertex was modified.

Looking deeper it looks like the leaflet id is used to find the markers position in the array.  Since the v

[2017-09-21 20:23] saintkepha opened #226 "Array.prototype.findIndex may require polyfill"
On older browsers, the use of findIndex inside findMarkerIndex fails without appropriate polyfill.

I think it may be better off to not use it - or at least document the ES6 features that may require browser polyfill in the README.

[2017-09-22 08:01] codeofsumit commented on #225
@newmanw I'll find a way to include it. I'd also have to give a `ringIndex` now because of the hole support in polygons though.

[2017-09-22 08:23] #226 closed

[2017-09-22 08:24] codeofsumit commented on #226
@saintkepha if you want, try out the latest `develop` branch and see if it works for you. Clone, run `npm install && npm run build` and include the files in the `dist` folder in your project to try it.
Let me know 👍

[2017-09-22 08:25] codeofsumit commented on #225
@newmanw you were talking about the `pm:markerdragstart` event right?

[2017-09-22 08:33] #225 closed

[2017-09-22 08:40] #222 closed

[2017-09-22 13:31] codeofsumit commented on #224
@newmanw do you mind trying out this PR?
https://github.com/codeofsumit/leaflet.pm/pull/227

Does it work for you? Check it's README.md for the documentation on how to use it

[2017-09-22 13:41] codeofsumit commented on #218
fixed by your PR :-)

[2017-09-22 13:41] #218 closed

[2017-09-22 13:44] newmanw commented on #224
@codeofsumit at a quick glance I think that will work.  To grab the click or mouse up event would look something like this:

[code]

[2017-09-22 14:43] codeofsumit commented on #224
@newmanw yes if you want to do something when a marker is clicked - sure!

[2017-09-22 15:25] newmanw commented on #224
@codeofsumit 'click' was the initial question here: https://github.com/codeofsumit/leaflet.pm/pull/219

This works great for getting the vertex markers when creating them, but how would I go about getting all the vertex markers when an edit starts?  Again I am trying to listen for click on the vertex markers as I would like to show the lat/lng of the marker that was clicked.

Would it be easier to

[2017-09-22 18:32] saintkepha commented on #226
Thanks for the quick fix.

I'm using polyfill.io so I was able to quickly workaround it by including
Array.prototype.findIndex but it generated a non-obvious error so I figured
getting it addressed at the module level can be helpful for others in the
future.

This is a very useful library - thanks for your work!

BTW - I'd like to request a feature enhancement.

Currently, once a layer is created/

[2017-09-22 18:47] codeofsumit opened #228 "size is TEN TIMES BIGGER since including turf"
turf is the dependency to calculate the necessary things to support the Cutting feature.
Turf thinks about replacing it's big dependency that's causing this size: https://github.com/Turfjs/turf/issues/88

![image](https://user-images.githubusercontent.com/2399810/31335760-3e313e54-acf4-11e7-9407-91e7c92cdf13.png)

Another option would be to replace turf with martinez. Martinez still has some probl

[2017-09-22 18:51] codeofsumit opened #229 "Update event when a layer changed and edit mode disabled"
from #226:

given layer goes from edit enabled -> disabled state AND there was a change
(one or more "pm:edit" event on the layer in question).

[2017-09-23 01:22] DenisCarriere commented on #228
👍 💯 support this, feel free to send PR's to both libraries, TurfJS is also looking forward to implement `martinez`.

Also we're in the process of converting to ES6 modules to enable bundlers like Rollup to be more efficient (🤞 coming soon... https://github.com/Turfjs/turf/pull/960)

[2017-09-25 08:35] #224 closed

[2017-09-25 15:29] #208 closed

[2017-09-27 10:57] mkondur opened #230 "Update circle position when drag circle center"
When you drag circle center marker, the circle doesn't update its position

![circle_bug](https://user-images.githubusercontent.com/7535008/30909819-b941dea8-a382-11e7-88b8-0f010808bb13.gif)

[2017-09-27 11:52] codeofsumit commented on #230
@mkondur oh wow.
Works fine for me on the demo page: leafletpm.now.sh.
Can you give me a link where it's not working for you?
If it's the demo page, I'd need browser info.
What would also help is:
open dev tools for that browser and check if there are JS errors - if yes, please screenshot them in here.
Also type `L.PM.version` into the console and check that it's the latest release: `0.20.0`

[2017-09-27 12:55] mkondur commented on #230
@codeofsumit it's not working for me. Tested on Chrome 61.0.3163.100, Firefox 55.0.3 and Safari 11.0.
I tested it on demo page: leafletpm.now.sh where L.PM.version is 0.20.0 and also in my project where L.PM.version is 0.17.3 and there is the same effect when I click on circle center marker and drag it to another position and circle stays at the old position. There are no JS errors

[2017-09-27 13:05] codeofsumit commented on #230
@mkondur hmmm very weird. I just went to my coworkers, Linux, Windows 7 and Mac and tried it in Firefox, Chrome and Safari. It's all working 🤔 .

Any ideas what else we could try?

[2017-09-28 06:43] themre commented on #147
could you take a look at PR if there is something else i'm missing?

[2017-09-28 11:13] mkondur commented on #230
I'm working on Mac.

Step by step what I'm doing:
1. Choose to draw a circle
2. Click on map to start drawing
3. When circle center marker appear I click on it and drag to another position and then move mouse to draw circle.

Solution:
Disable to drag center marker when draw a circle or update circle position when drag this marker

[2017-09-28 11:51] codeofsumit commented on #230
ha! Thanks, now I was able to reproduce!
Will fix it - the marker shouldn't be draggable during draw - it's for editing only.

[2017-09-28 14:39] richorama opened #231 "Calling `enable()` does not set the draw button to active"
When in edit mode, if you call:

[code]

...for example, is will update the draw button accordingly.

But when you call:

[code]

... the map enters draw mode, but the button is not updated.

fiddle: https://jsfiddle.net/qo5kwfww/1/

[2017-09-29 21:03] #230 closed

[2017-09-29 21:05] codeofsumit commented on #231
thanks for the fiddle.

`Draw.Poly` is for polygon. But the button you have in the Toolbar is for polyline. I can see that this might be confusing.
Here's the fiddle working correctly :-)
https://jsfiddle.net/qo5kwfww/2/

[2017-09-29 21:05] #231 closed

[2017-10-04 13:50] codeofsumit commented on #200
@josejaner I'll close this issue due to inactivity. Feel free to open again with a JSfiddle so I can see and reproduce the issue easily - I'm happy to debug this with you.

[2017-10-04 13:50] #200 closed

[2017-10-04 16:18] themre opened #234 "FR: upload geometry button"
Would any one be interested in a upload geometry button? for example uploading KML or CSV file and apply geometry on the map? perhaps I can start this feature once I get some time.

[2017-10-05 08:16] #117 closed

[2017-10-05 08:20] codeofsumit commented on #234
@themre thought about this too but IMO this is a different plugin or application logic. Same with "export". It'd add a LOT of logic that has nothing to do with drawing, including
* validation
* file handling
* format transformations
etc...

it's especially hard as each application probably has different validations, properties and requirements for their geodata.
I've built this kinda stuff a coupl

[2017-10-05 08:20] #234 closed

[2017-10-05 08:23] themre commented on #234
yes, you're probably right. it would be probably best to build some separate plugin which we could add inside PM toolbar.

[2017-10-05 08:28] codeofsumit commented on #188
@tecnocoma I'll close this for inactivity. Please reopen if you have tried leaflet-measure-path or if other users would like to see this added to leaflet.pm instead.

[2017-10-05 08:28] #188 closed

[2017-10-08 04:39] gunturbudi opened #236 "CDN min.js error"
When I include the js into the source code, it produces this error:

Then i look at the end of the source code, it seems not complete.

Thanks

[2017-10-08 10:57] codeofsumit commented on #236
hey @gunturbudi.
The CDN from the README.md works fine in my testing: `https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js`.

Are you using that CDN? If yes, please provide a JSFiddle that shows the error / provide a CDN Link where script is not complete.

[2017-10-08 12:42] JacobusS opened #237 "Get list of vertexes coordinates"
Hi, I'm quite new to Leaflet and Javascript so please excuse my ignorance. First of, this is truly amazing, it looks so good and work great.
I want to get a list of coordinates all the vertexes of a polygon once drawn also just a side note, what is the layer name or are all the features placed in a group layer? thanks.

[2017-10-08 13:59] codeofsumit commented on #237
hey there

from the documentation:
[code]

`e.layer` is a regular leaflet layer and you can get all information there via the usual leaflet functions: http://leafletjs.com/reference-1.2.0.html#polyline-getlatlngs

[2017-10-08 13:59] #237 closed

[2017-10-09 05:39] JacobusS commented on #237
That is fantastic, thanks so much.

[2017-10-09 11:05] ivanjaros opened #238 "NPM size"
I was baffled by the size of my compiled JS project.
With little debugging I found that the leaflet.pm npm package is a massive **0.5MB minified** and it does not even include the leaflet library. So I wonder why is it so huge and can it be slimmed down?

[2017-10-09 11:06] codeofsumit commented on #238
yes :-( - see this issue: https://github.com/codeofsumit/leaflet.pm/issues/228

[2017-10-09 11:06] #238 closed

[2017-10-09 11:07] ivanjaros commented on #238
Thanks. Since I do not use cutting, is there a way to exclude that library?

[2017-10-09 11:14] codeofsumit commented on #228
@ivanjaros asked if we could exclude turf if the cutting feature is not used.

Here is what I'm currently thinking about:

1. Split leaflet.pm into modules to allow separate import of features to reduce file size
2. wait for turf to replace jsts
3. replace turf (I did not find a suitable replacement yet)

I'm in favor of 2. or 3. and I'll start searching for a replacement again this week as turf m

[2017-10-09 11:14] codeofsumit commented on #238
mhh not right now - let's move this convo to #288 - I just commented there what's in my mind. Please share your thoughts too!

[2017-10-09 11:53] codeofsumit commented on #228
Maybe the recent merge of https://github.com/Turfjs/turf/pull/960 helps here with it's released in Turf 5.0?
Turf 5.x seems to be released on Github
https://github.com/Turfjs/turf/releases

But not on npm?
Will investigate and if the turf update brings an improvement to our filesize I'll release asap!

[2017-10-09 15:20] ashmigelski opened #239 "New feature: prevent polygon self-intersection while editing"
Hey

In our project we deal with simple polygons (shape consisting of straight, non-intersecting line segments)
and using Leaflet.Draw mostly because of `allowIntersection` feature.
You can see it in action on examples page https://leaflet.github.io/Leaflet.draw/docs/examples/full.html
1. Create a poly
2. Toggle edit mode
3. Drag a vertex to cross any segment - vertex will be deleted

I want to mi

[2017-10-09 15:24] codeofsumit commented on #239
hey @ashmigelski. Cool feature! Yes, I can implement this.
Whoever I'll need a week or two I think.

Until then, you could to this yourself. If you check the readme there are lots of events that you can listen to to implement this on the app-side. But if you can wait a bit, you don't have to code it yourself 👍

[2017-10-10 02:28] DenisCarriere commented on #228
@codeofsumit Still a few more things that need to be done before we release Turf 5.0 on npm. At the moment there's a few modules that are published for testing purposes.

[2017-10-10 12:01] codeofsumit commented on #239
started it.
![intersect](https://user-images.githubusercontent.com/2399810/31385376-5541be32-adc3-11e7-9588-285422ffc5e1.gif)

[2017-10-10 12:35] codeofsumit commented on #239
Style change is also there:
![intersect](https://user-images.githubusercontent.com/2399810/31386752-3be99b08-adc8-11e7-9824-6737f8d40bc4.gif)
![intersectpoly](https://user-images.githubusercontent.com/2399810/31386753-3c3c6b8a-adc8-11e7-868c-2921c339b500.gif)

[2017-10-10 13:16] sairus2k opened #242 "Unexpected behavior with React"
Something broke when creating line or polygon. Without console errors.

[jsfiddle example](https://jsfiddle.net/2wary6a5/)

How to reproduce:

1. Create line or polygon.
2. Enable edit mode.
3. Zoom in or zoom out - tile layer not zooming.

Versions:
React 16.0.0
Leaflet 1.2.0
leaflet.pm 0.21.0

Not reproduce on the leaflet.pm version 0.19.0.

[2017-10-10 15:02] codeofsumit commented on #242
thanks for reporting and the JSfiddle. Will fix asap and hopefully release this weekend or sooner!

[2017-10-10 17:05] ashmigelski commented on #239
Looks good! Thanks for such fast reaction :+1: Cant wait to see edit mode :)
Please give me to know if I can help with code or testing

[2017-10-10 18:59] #242 closed

[2017-10-10 19:00] codeofsumit commented on #242
was caused by the same problem that another bug had. Will release the fix this week!

[2017-10-10 22:33] opoto opened #243 "Leaflet.PM not working on Chrome for Android"
Hi

I noticed Leaflet.PM does not work on Chrome (61) for Android (7) (at least the demo).

To reproduce:
- Open https://leafletpm.now.sh/#/ in Chrome on an Android device
- Click/select any editing tool (line, marker...)
- Click on map: nothing is drawn

Actually I noticed similar issue with Leaflet.Editable, might be an issue with Leaflet event management.
Any idea on how to fix or workaround th

[2017-10-11 06:56] codeofsumit commented on #243
hmm 🤔   - it works fine for me.
![demo](https://user-images.githubusercontent.com/2399810/31426036-fb8160c4-ae61-11e7-9d05-c7b9505ccb51.gif)

Are there any JS errors in the console for you?

[2017-10-11 06:58] codeofsumit commented on #243
ah sorry, Android. Hmm I don't have an Android Device but I just tried it on a Nexus 5 emulator (Chrome Dev Tools) and it worked too.

Are you able to debug on your Device? E.g. DevTools? JS errors would be good to see

[2017-10-11 07:05] codeofsumit commented on #239
this is how it looks in edit mode

![demo](https://user-images.githubusercontent.com/2399810/31426339-3aa1b7b2-ae63-11e7-87b8-e305687ab1f2.gif)

I'm currently trying to figure out how to "reset" the polygon if the user edits the polygon and causes a self-intersection. Because leaflet.pm has immediate changes, there is no "undo" right now 🤔

[2017-10-11 07:14] codeofsumit commented on #239
nevermind, got it 👍

![demo](https://user-images.githubusercontent.com/2399810/31426677-9617f1fa-ae64-11e7-98e6-adc54821c8cc.gif)

[2017-10-11 07:26] ashmigelski commented on #239
That's it!
What about situation when we load invalid polygon and then start editing? Method `isValid()` can be useful to check either polygon can be saved

[2017-10-11 07:54] codeofsumit commented on #239
ah yes! Thanks for that usecase.
Here is how it's handled - bear with me on that one.

Let's say you allow self intersection during draw.
But then, on the `pm:create` event, you enable editing but set `allowSelfIntersection` to false:
[code]

this is exactly your usecase? Editing starts with a self intersection but you disallow self intersection for editing.
Upon `enable`, the self intersection op

[2017-10-11 07:58] ashmigelski commented on #239
Yeap it's ok
I'll try to test feature branch and give your more info
Thanks again!

[2017-10-11 08:28] codeofsumit commented on #239
@ashmigelski I committed everything. Would be great if you could test #241 and let me know how it goes.

[2017-10-11 09:24] ashmigelski commented on #239
Just check #241, still looks good)

Found another use case: delete vertex that change polygon state
* delete vertex that add self-intersection
![case_1](https://user-images.githubusercontent.com/4904519/31431780-5443d58c-ae7d-11e7-996a-fce1aca63321.png)
* delete vertex that remove self-intersection
![case_2](https://user-images.githubusercontent.com/4904519/31432152-7b310c86-ae7e-11e7-9d21-d7db145

[2017-10-11 13:15] codeofsumit commented on #239
@ashmigelski both should be taken care of. Can you check the latest branch state?

[2017-10-11 13:27] codeofsumit commented on #239
@ashmigelski Ok both cases should be handled now. Do you mind checking again?

[2017-10-11 15:24] ashmigelski commented on #239
Everything works fine for me (both cases and styling via css)
For now can't find any issues.. Time to merge ;)

[2017-10-11 15:41] codeofsumit commented on #239
@ashmigelski no I'd like to handle holes in this PR too and I'm looking at it currently. Good to hear everything works so far 👍  - thanks for testing

[2017-10-11 17:03] codeofsumit commented on #236
please reopen with a JSFiddle

[2017-10-11 17:03] #236 closed

[2017-10-11 20:31] opoto commented on #243
Hello
There is nothing displayed in the console, it stays blank.
As the code is obfuscated I do not know how to investigate further.

[2017-10-11 20:36] themre commented on #243
It works on my android,chrome,only dragging isn't handled.

[2017-10-12 07:20] codeofsumit commented on #243
Works fine on iPhone - including dragging 🤔 🤔 .
Can you guys reproduce a test case with the Chrome DevTools emulator and leafletpm.now.sh?

[2017-10-12 07:33] codeofsumit commented on #210
As this plugin offers mostly visual features and they're very interconnected I'd say the best step is to make extensive use of e2e tests at first.
I tried Ghostinspector yesterday but their test suite fails to properly draw anything on the map.
E.g. if I place 4 markers somewhere on the map, they'll all be in the middle of the map in their test suite.

I also got the recommendation for http://nigh

[2017-10-12 13:59] codeofsumit commented on #239
okay holes seem to be handled too
![holes_intersect](https://user-images.githubusercontent.com/2399810/31499910-5e0a062e-af66-11e7-8b33-5023d6beb8cd.gif)

[2017-10-12 16:19] ashmigelski commented on #239
Wow! I'll try to test holes today or tommorow

[2017-10-12 21:22] opoto commented on #243
After extra tests, I managed to draw on Chrome Android, but I have to do VERY quick taps, usual taps being considered as map dragging instead of map clicks. Is there some timer to configure to be more permissive on the tap duration?

[2017-10-13 07:44] codeofsumit commented on #243
mhh not in leaflet.pm and nothing that I know of in leaflet.
These are the leaflet events on a map:
http://leafletjs.com/reference-1.2.0.html#map-click

They don't have dedicated mobile events afaik 🤔

[2017-10-13 09:05] codeofsumit commented on #239
I just added a `pm:intersect` event:

[code]

Helpful for marking the intersection if you wish.

[2017-10-13 09:35] ashmigelski commented on #239
Ok, holes works!
Found unexpected behavior when holes are nested
![not_work](https://user-images.githubusercontent.com/4904519/31539576-a7d82f8c-b011-11e7-8b9e-2d695297ea60.png)
Also have a question: when I have a polygon with 3 point deleting one of them convert polygon into polyline and looks quite strange. Is it possible to set min vertices =  3 for polygon?

[2017-10-14 07:32] #239 closed

[2017-10-14 07:44] codeofsumit commented on #239
it's out:
https://github.com/codeofsumit/leaflet.pm/releases/tag/v0.22.0

[2017-10-18 14:02] raulrios commented on #223
Have you tried this?
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/leaflet.pm

The only thing is that it doesn't support latest leaflet.pm versions (it currently supports version 0.13).

[2017-10-20 20:12] opoto commented on #243
Ok, I agree this issue is not clear enough, I let you close it if you want.

[2017-10-21 08:19] #243 closed

[2017-10-24 09:32] avrezvanov opened #244 "path of the drawn polygon"
Hello! Great component!
I can not understand how to get the path of the drawn polygon? Is this possible?
Thank you

[2017-10-24 09:38] codeofsumit commented on #244
hey there. Thanks! Glad you like it.

You can listen to the `pm:create` event.

This will work:
[code]

Then, you can use the same techniques to get your information on the leaflet layer just as you're used to :-)

This is the relevant section in the README:
https://github.com/codeofsumit/leaflet.pm#drawing-mode

reopen the issue if something is not working/clear

[2017-10-24 09:38] #244 closed

[2017-10-26 14:25] chplog opened #245 "no events after dragging rectangle marker"
There seems to be an issue eventing after editing rectangles. I'd like to call a function after a rectangle has changed. It works only with the dragend-event. The markerdragend-Event doesn't work. It seems, that it is simply not fired...

[2017-10-26 20:34] codeofsumit commented on #245
hey @chplog - can you provide a JSFiddle that shows the problem? I'll have a busy weekend bug if you can prodie a JSFiddle in the next days I can check and fix it next week 👍

[2017-10-27 06:20] hoeck commented on #223
I'm currently using leaflet 1.2 and leaflet.pm 0.22 in a Typescript project.

The DefinitelyTyped typings do not work for me, @raulrios, though it may be because I've got a weird setup with two versions of Leaflet at a time. Also, having typings directly in the repository is preferred over [adding them to DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped#create-a-new-package).

A

[2017-10-27 08:45] chplog commented on #245
Unfortunatley I wasn't able to get JSFiddle to work with leaflet and pm, but nevertheless I created a small test application. map.pm is undifined. Seems to me, that JSFiddle does not initialize PM.
When a Geometry is created, it is bound to several events to watch the update process. Have a closer look at the conosle messages when you update a polygon, a rectangle and a circle.  There are no event

[2017-10-27 08:47] themre commented on #245
perhaps you can try this example and modify it: http://jsfiddle.net/LnzN2/1103/

[2017-10-27 08:48] themre commented on #223
@hoeck thanks for the info, will try to find some time to add typing! thanks also for offering help!

[2017-10-27 09:00] codeofsumit commented on #245
@themre @chplog I added a JSfiddle template to the Issue Template 👍
http://jsfiddle.net/LnzN2/1332/

[2017-10-27 09:14] chplog commented on #245
Great. Thank you both! (however, my jsfiddle looked pretty much the same to me... mysterious...)

http://jsfiddle.net/chplog/rc7rtw1q/6/

I'm missing dragend events, after resizing a rectangle or a circle.

[2017-10-28 08:20] melz007 opened #246 "Execute a function on toggle of edit mode."
Hi.

First of all thank you for this awesome plugin.

I am saving the geometry of all the shapes after editing them. For now I am using the "pm:edit" function and it is working fine but i wanted to know if I could fire a function on the toggle of the edit mode button on the map so that I could save all of the shapes at once.

Thanks.

[2017-10-28 09:19] codeofsumit commented on #246
hey @melz007, mhh not yet - will implement asap!

[2017-10-28 09:57] melz007 commented on #246
Thanks

[2017-11-08 18:53] #245 closed

[2017-11-09 08:55] #246 closed

[2017-11-09 09:30] #229 closed

[2017-11-11 17:48] blacktopol opened #247 "Disable Removal mode"
Does leaflet.pm have any way of disabling Removal mode programmatically?
map.pm.toggleGlobalRemovalMode() allows it but I can't define does Removal mode active now.
Does leaflet.pm have something like disableGlobalRemovalMode() or method for checking Removal Mode state?

[2017-11-12 17:15] codeofsumit commented on #247
yes,

[code]
returns `true` when global removal mode is enabled. It currently returns `undefined` or `false` when not. The next release will fix this and it always returns `false` when disabled. But you can check against `true` now already.

[2017-11-12 17:15] #247 closed

[2017-11-13 01:36] ChaudhryAtif opened #248 "Add unique id to layer on add (to identify which was edited/removed)"
Haven't looked too much into the code and all, but I'm hoping there's a way.

I have a list of circles which include pre-loaded and newly added circles. Is there a way to add an identifier to the layer so when removing/editing the layer(s), I can appropriately remove it from my list and perform any additional logic, such as making an API call.

![image](https://user-images.githubusercontent.com/70

[2017-11-13 08:53] codeofsumit commented on #248
You can add whatever you want to any layer. It is a regular leaflet layer and adding necessary properties for your own logic is something you can do.

You can do `layer.myId = 'lalala'` or you use the leaflet ID that is generated by leaflet for each layer `layer._leaflet_id`.

[2017-11-13 15:52] ChaudhryAtif commented on #248
Thanks Sumit! That worked!

Here's a working demo (open console): [jsFiddle](https://jsfiddle.net/4gjwotgf/)

[2017-11-13 15:52] #248 closed

[2017-11-13 18:37] galileopy opened #249 "Uncaught TypeError: Cannot read property 'lat' of null"
I'm not sure if this error is due to leaflet.pm or is leaflet itself that has the bug, but certainly it didn't appear until I added leaflet.pm to my package.

The error appears when you add a polyline that has an array of arrays of [lat,lng], which leds me to believe it has something to do with the lack of support to MultiPolylines in leaflet.pm itself.

[Fiddle]( http://jsfiddle.net/t5s1yn3z/)

[2017-11-13 18:40] galileopy commented on #249
this  might be related, not sure though, https://github.com/Leaflet/Leaflet/issues/3280

[2017-11-13 18:41] galileopy commented on #249
leaflet.pm bug report, in case is weird edge case, https://github.com/codeofsumit/leaflet.pm/issues/249

[2017-11-14 09:20] codeofsumit commented on #249
yes, looks like that's exactly the reason. I'll investigate further and maybe I can add MultiPoly support within the next two weeks if there is demand now

[2017-11-14 13:12] perliedman commented on #249
👋 Hi everyone,

just to add to this, while checking https://github.com/Leaflet/Leaflet/issues/3280, it looked like at least the first problem is https://github.com/codeofsumit/leaflet.pm/blob/47336a37fa4d36a0a3137292b6b074c97321f0c8/src/js/Edit/L.PM.Edit.Line.js#L194, which assumes that things that are not polygons (which I assume are polylines) are not nested arrays, so it will assume each entry

[2017-11-14 16:56] codeofsumit commented on #249
thanks @perliedman. Yes I think with the support of holes, the groundwork for MultiPolylines and MultiPolygons is already in leaflet.pm. I specifically excluded them but apparently with some errors.
I'll sort it out 👍

[2017-11-14 17:05] codeofsumit opened #250 "Exclude Layers from the Cut effect"
Idea: have a selector of some kind that excludes/includes polygons that are affected by cutting.
Usecase example: if the application state says one specific polygon is being edited, the cutting of said polygon should not affect any other polygons.

[2017-11-18 21:26] ThomasG77 opened #251 "Add an hook for circle draw event for mousemove after seting center"
I didn't found any event hook for getting mouse position coordinates after drawing the center.
I'm only aware of a drawstart and a drawend but I want to get an event while drawing in order to get center and use it for returning radius and display it in a tooltip. This would be quite similar to existing [Leaflet.draw](https://leaflet.github.io/Leaflet.draw/docs/examples/full.html) (see screenshot)

[2017-11-21 11:51] themre opened #252 "When start draw rectangle, points are added on the map"
I tried demo page and when I click Draw rectangle, points are added here:
![image](https://user-images.githubusercontent.com/10845050/33071136-a7823d4e-ceba-11e7-9570-f48c870774e8.png)

[2017-11-21 14:29] codeofsumit commented on #252
😂  haha what is that about. How did you even find this!
Will fix it asap 😅

[2017-11-21 15:20] #252 closed

[2017-11-21 15:31] themre commented on #252
I started near that location and so I noticed that :) thanks for your fast
response!

21. nov. 2017 4:20 pop. je oseba "Sumit Kumar" <notifications@github.com>
napisala:

[2017-11-22 20:45] themre opened #254 "FR: move from webpack to rollup"
Leaflet just migrated to rollup and latest version 0.51 noticed large optimization of bundle (up to 60%). should we try rollup? probably also related to https://github.com/codeofsumit/leaflet.pm/issues/228

[2017-11-23 08:37] codeofsumit commented on #251
hey @ThomasG77, I have to check this out in detail. I hope I can get back to you on this during the weekend! 👍

[2017-11-25 12:05] DenisCarriere commented on #228
Almost there... posted a comment which might solve the issue very soon.

https://github.com/codeofsumit/leaflet.pm/pull/255#issuecomment-346936341

🤞

[2017-11-26 13:29] themre commented on #254
WIP https://github.com/codeofsumit/leaflet.pm/pull/256

[2017-11-28 16:23] DavidLore opened #257 "after firing map.pm.enableDraw(...) - on each "mousemove" event getting error "Cannot read property 'lat' of null""
Hey there,

First, I have to say that despite the error that promping on console, the behaviour of the functionality is great. The result is pure Rectangle and the working progress is great.

**The operation :**

I'm trying to draw few shapes using leaflet.pm, and I found some troubles while using the method:
`map.pm.enableDraw("Rectangle", {
      drawing: true,
      // snapping
      snappable:

[2017-11-29 17:08] Epthelyn opened #258 "Prevent removal of markers on right-click in edit mode?"
Hi,

Is it possible to prevent markers being removed when right clicked on in edit mode?

I have markers set up in such a way that if a user right clicks on them they get additional options to interact with the marker and other things, but if the user is in edit mode (e.g. they've just moved marker from point A to point B and then want to change value X without selecting from the menu) at the time

[2017-11-30 20:38] codeofsumit commented on #258
@Epthelyn where you able to solve the issue? Could you comment on what made you close the issue? Thanks a lot!

[2017-11-30 23:24] Epthelyn commented on #258
Sorry, thought I'd left a response before closing it. My mistake!

Found the line causing the behaviour in L.PM.Edit.Marker.js (lines 35-36) and removed it from my local copy:
[code]
A working alternative was to activate an equivalent of the disable() (located within the same file) and remove the listener on a case-by-case basis for all markers when edit mode was enabled. However, since that invol

[2017-12-01 01:10] codeofsumit commented on #258
ok, I'll leave this issue open as the library should provide this as an option. Thanks for clarifying, I'll add this into it

[2017-12-01 01:39] codeofsumit commented on #257
hey @DavidLore. Do you mind using ``` to wrap the provided code so I actually know what options you passed? If I copy that, most of the code is commented out.

Also: if you can provide a JSfiddle showing the problem, it'd be much more helpful for me to get to the bottom of this.

Thanks for your help!

[2017-12-01 01:40] codeofsumit commented on #254
as mentioned in #256 I think bundle size of dependencies should be optimized upstream. I'll close this issue for now but let's further discuss that in #256 and if we agree on doing it here in leaflet.pm, I'll reopen this.

[2017-12-01 01:40] #254 closed

[2017-12-01 02:00] codeofsumit commented on #251
hey @ThomasG77, how does this sound for you?

[code]

[2017-12-01 02:03] #251 closed

[2017-12-01 02:06] codeofsumit commented on #249
just to give an update to this: obviously I wasn't able to make it work within 2 weeks. I'll get on it asap. I'm on a business trip right now and hope to get some time for this next week.

[2017-12-01 16:33] ThomasG77 commented on #251
From my understanding, your solution solves the issue for listening to center change, whereas what I want is listening when radius change. We would need to create another event with a signature like

[code]
So what you implemented is overall useful but do not solve the issue.

[2017-12-01 17:42] codeofsumit commented on #251
@ThomasG77 if you want both changes, isn't `pm:edit` sufficient?

[2017-12-02 01:41] ThomasG77 commented on #251
You are right: I really missed the point here.
Nothing is required on your side.

Thanks for your patience

[2017-12-02 19:25] codeofsumit commented on #251
Awesome! Let me know if something else comes up 👍

[2017-12-05 18:42] adamtLICOR opened #260 "When in "Edit Mode," right-clicking counts as a mousedown event (and causes unexpected dragging)"
This can be seen even in the [demo](https://leafletpm.now.sh/#/).

1. Draw a Rectangle or Polygon
2. Enter "Edit Mode"
3. Right-click on the Polygon (which should bring up the default web browser context menu)
4. Right or left click somewhere on the opposite end of the map
5. The shape jumps (and then propagates normal click behavior)

**EXAMPLE:**
![right_click_bug_1](https://user-images.githubus

[2017-12-06 20:09] adamtLICOR commented on #260
I do have a fix for this (that seems to work), but I won't PR if right-click-to-drag functionality is expected or desired.

[2017-12-07 04:02] codeofsumit commented on #260
hey @adamtLICOR. Let me get back to you on this on friday evening / saturday.

[2017-12-07 14:25] fridgerator opened #261 "0.23.0 causing webpack build issues"
Hello, I work with @Mesonyx

After updating to 0.23.0 our webpack build is failing with the following error: `Unexpected token name «n», expected punc «;»` when building our applications vendor.js file.

If I downgrade back to leaflet.pm 0.22.0, I no longer see that error.

I noticed in the leaflet.pm.min.js file there is still es6 syntax: `for(let n in e)`

My webpack skills are not very good, bu

[2017-12-07 16:38] jpknapp commented on #261
Hey @fridgerator,
I was also having this issue, you're right, it's because the build is es6
I got it to work by adding this to the leaflet.pm webpack config, and making a new build:
[code]

[2017-12-07 22:04] codeofsumit commented on #261
thank you for reporting this. Will check and fix asap!

[2017-12-09 02:24] royhobbstn commented on #257
@codeofsumit I'm having the same issue.  Here's a JSFiddle of the problem.
https://jsfiddle.net/dqnzts6a/1/
It seems to be triggered by the combination of geojson and leaflet.pm.

[2017-12-13 22:14] aeftink opened #262 "Maximum call stack size exceeded"
When working with GeoJSON, I get a maximum call stack size exceeded error.
JS Fiddle: https://jsfiddle.net/alexeftink/Lh31ujty/

Scenario
I have a feature group of GeoJSON objects.  When a user edits one of those objects, they may want to revert their changes.  To do that I save the original feature from the geojson layer.  Then when they cancel their edits I call layer.clearLayers() and layer.add

[2017-12-14 14:19] mpschaeuble commented on #261
Took me now several hours to figure out that this is the reason for my failing test execution in phantomjs of an angular-cli build :-( Couldn't figure out to transpile 3dr-party libraries with angular-cli, therefore downgrading to 0.22.0.
Would be really helpful to fix this issue asap, thanks!

[2017-12-14 15:31] #261 closed

[2017-12-14 15:32] codeofsumit commented on #261
hey everyone. Thanks for being so patient. Can someone try out this ☝️  commit and verify that the build is not failing? It works for me but a second test would be helpful.
If I get a +1 on it, I'd release asap

[2017-12-14 16:00] maleta commented on #249
I had this error when updating marker location with method `setLatLng` and my workaround for this was to remove existing marker and create new.

[2017-12-14 16:41] codeofsumit commented on #262
Thanks for the fiddle! Mhh, it does have something to do with nested feature/layerGroups. I tried to find the cause for the past 2 hours to no avail. Will get back to it soon!

[2017-12-14 17:36] aeftink commented on #262
Yeah I haven't figured it out yet either.  Its as if the _layers in the LayerGroup somehow contains an instance of itself

[2017-12-15 15:11] hoeck commented on #261
Checked out 8cd2a8a and built it but the resulting `dist/leaflet.pm.min.js` is full of `let` keywords i.e. not valid ES5 and will fail in Phantomjs as well as when piped through UglifyJS (such as in our production build).

[2017-12-16 12:51] codeofsumit commented on #261
Can you delete your node_modules folder, do a fresh npm install and try again?

[2017-12-16 14:29] hoeck commented on #261
Did that before already a couple of times to be sure. Now I did it again but this time used plain `npm` and now it *works*.

Guess my mistake was using `yarn` initially to install the dependencies & create the build. Sorry for the delay.

So 👍 from my side for your fix! Thanks!

[2017-12-21 13:35] mpschaeuble opened #263 "Touch event support"
On mobile devices with touch input only, most of the functionality of this plugin seems not to work. For example I've not been able to draw a circle or a polygon on the map. Leaflet itself is working really nice on touch devices.

Are there any plans to support touch input in the future?

[2017-12-25 19:21] ThomasG77 commented on #251
Sorry, I come back...
[code]
Only if you edit the circle after creation. On first creation, I'm not able to listen to change.
My branch was solving this behavior (see below GIF in action for demonstration).

![peek 25-12-2017 20-14](https://user-images.githubusercontent.com/642120/34342456-d6498a9a-e9b0-11e7-8f7a-76f664364537.gif)

I want to confirm that I did not miss the point again before you m

[2018-01-04 10:06] MarinusDR opened #264 "Failed to minify the code from this file: leaflet.pm.min.js"
We think your pm is fantastic, but we get an error when building our react-app:
"Creating an optimized production build...
Failed to compile.
Failed to minify the code from this file:
 	./node_modules/leaflet.pm/dist/leaflet.pm.min.js:1:513  "
Is it possible to publish the package  pre-compiled (retaining ES6 Modules)?

[2018-01-04 10:24] codeofsumit commented on #264
Hi @MarinusDR - I will release a new version soon that should fix this.

[2018-01-04 10:40] MarinusDR commented on #264
Sounds good! Thank you!

[2018-01-04 11:19] codeofsumit commented on #264
@MarinusDR can you test the latest release please?
https://github.com/codeofsumit/leaflet.pm/releases/tag/0.23.1
https://www.npmjs.com/package/leaflet.pm

Please reopen if you still have issues

[2018-01-04 11:19] #264 closed

[2018-01-04 11:48] MarinusDR commented on #264
Hei Sumit,

I installed your latest version 0.23.1 and it works fine.
Thank you so much for your quick response and fix.
Very good!

Vennlig hilsen

Rieni de Rijke
rieni.derijke@norkart.no<mailto:rieni.derijke@norkart.no>
+47 990 45 157

[cid:79A5DF46-CF35-40C1-95E8-5CF195F1F34B]

Fåberggata 155
Postboks 393
N-2602 Lillehammer

+47 67 55 14 00
norkart.no<http://www.norkart.no/>

Fra: Sumit Kumar [

[2018-01-05 22:37] seanbeaton commented on #249
@codeofsumit, did you have any luck with this?

[2018-01-06 03:07] seanbeaton commented on #249
Just an update with the issue I was having - turns out the multipoly lines weren't the issue. A few of the lat long pairs I was passing to leaflet were [null, null], causing everything to break and that error to be printed to the console.

To anyone else having this issue, it might be worth verifying any and all lat/long coordinates being used by leaflet are valid.

[2018-01-10 05:16] ChaudhryAtif opened #265 "Programmatically add (existing) shapes"
Maybe I missed it, but I could not find a way to add shapes to leaflet.pm layer group.

Say I want to add the following array of circles to the given map: http://jsfiddle.net/LnzN2/1401/ including their id to the circle layer.

[code]

[2018-01-10 05:42] ChaudhryAtif commented on #265
I must have missed the demo folder, but I found it:
https://github.com/codeofsumit/leaflet.pm/blob/8a599ddce3f47d62663a2f994f97ef4d8b43b274/demo/demo.js#L54

[2018-01-10 05:42] #265 closed

[2018-01-11 02:06] ChaudhryAtif opened #266 "Edit, Delete in bulk with save/discard"
In Leaflet draw, it is possible to edit (move, resize), and delete multiple shapes and then you can either save the changes, or discard them. Is a similar feature of editing/deleting multiple and being able to save/discard them available in this library?

[2018-01-11 09:33] MarinusDR opened #267 "Remove last vertex"
How can one remove the last added vertex?
Is there a key -function for it, just like the ALT-key when snapping?

[2018-01-11 13:04] codeofsumit commented on #266
hi @ChaudhryAtif, no it's not in the library and for now I'd consider this application logic in your code.
For example when the user starts editing, you save the current coords of that layer. Let the user edit it. Then provide a "save" and "discard changes" button.
I use leaflet.pm myself in different applications where that logic needs to be slightly different.

I hope leaflet.pm has all the even

[2018-01-11 13:04] #266 closed

[2018-01-13 15:46] chriswilley opened #268 "Draw fails when preferCanvas is true"
If you set the preferCanvas option on your Leaflet map to true, clicking on the PolyLine, Circle, or Polygon toolbar button causes a JavaScript error:

[code]

This is because dashArray in Leaflet is a comma-delimited string option whereas it's an Array in PM (see: http://leafletjs.com/reference-1.2.0.html#path). The fix would be (I assume) to change the option in L.PM.Draw to:

[code]

As a quick

[2018-01-13 17:22] chriswilley opened #269 "Edit mode throws JS error when preferCanvas is true"
When you set preferCanvas to true, switching to Edit mode throws the following JavaScript error:

[code]

This is because PM is calling L.DomUtils.addClass with a DOM element that doesn't exist (it's trying to pass a path element, which works for SVG but not for canvas). To fix this, I changed the references to `this._layer._path` in a few JS files to `this._layer._renderer._container` in the code

[2018-01-16 14:53] mkondur opened #271 "Last marker remains on map"
![bug](https://user-images.githubusercontent.com/7535008/34994668-955d89c0-fad4-11e7-8376-a0673e9f9ac1.gif)

When editing polyline when removing markers on right mouse click last marker still shown on map. I think it will be better to remove this marker when markers count less then 2

[2018-01-17 08:15] sasfeat commented on #267
@MarinusDR workaround:
[code]

[2018-01-18 04:56] kayoshi commented on #258
@codeofsumit Hi! Did you find the solution to the issue?

[2018-01-23 10:08] mpschaeuble opened #272 "Spherical vs projected"
According to my understanding, when drawing a circle, its a spherical circle as it gets oval when drawn near the poles. However, polygons/lines are drawn on the projection otherwise they would be curved when drawn over big distances. This behaviour is a bit confusing and contradictory to me.

Ideally, lefalet.pm would allow two drawing modes: spherical and projected. What do you think?

[2018-01-24 08:48] mpschaeuble opened #273 "Feature request: support geometry rotation"
It would be really cool to have rotation as an editing feature similar to Leaflet.Path.Transform (https://github.com/w8r/Leaflet.Path.Transform).

[2018-01-24 08:50] mpschaeuble opened #274 "Drag-only edit mode"
For some use-cases it would be useful to allow dragging of existing features only in edit mode and disallow node editing.

[2018-01-26 09:19] jhhosbond commented on #263
Really interesting lib. Nice work! As @mpschaeuble mentions - are there any plans regarding mobile / touch support?

[2018-01-28 02:52] SteveCline opened #275 "hintlineStyle option when allowSelfIntersection is false"
When option allowSelfIntersection is false, the hintlineStyle options are overwritten. In my code snip below change allowSelfIntersection back to true to see effect.

[code]

[2018-01-28 03:27] SteveCline opened #276 "add layer methods"
I have a few improvement methods that would be super helpful:

Similar to this:
[code]
It would be nice to see these methods on individual leaflet layers to isolate add and delete from other layers on the map.
[code]

[2018-02-04 22:39] Zahma opened #277 "get all drawn layers"
is there a method that we can call to get all drawn  the drawn layers ?
without passing through map.eachlayer() . since we can also have polygons predefined.

thank you

[2018-02-13 10:38] codeofsumit commented on #277
you can add them to an array after a `pm:create` event fires and use that one.

[2018-02-13 10:38] #277 closed

[2018-02-13 10:40] codeofsumit commented on #276
@SteveCline this isn't in the library because it's easily done with leaflets own functionality.

[code]

Is that sufficient?

[2018-02-13 10:42] codeofsumit commented on #273
how would you think of the rotation anchor? Could be centered, on a vertex or an arbitrary point. Do you think this should be editable too?

[2018-02-13 10:43] codeofsumit commented on #272
uh, very interesting topic. I've not yet looked into this. I agree but I'm afraid I won't have enough time to go into this in the near future. I'll leave the issue open though 👍

[2018-02-13 10:43] codeofsumit commented on #271
thanks for the gif. You're totally right. This should be in place already though, which makes me think this is a bug.

[2018-02-13 10:45] codeofsumit commented on #267
definitely a useful feature - will add it 👍

[2018-02-13 10:45] codeofsumit commented on #263
yes. I always thought it works 🤔  Will check and add support.

[2018-02-13 10:47] codeofsumit commented on #275
could you please create a JS fiddle and provide the link to it so I can see the problem right away?

[2018-02-19 08:33] mpschaeuble commented on #273
For my use case it would be totally fine to rotate only around the shape's center. But you are right, the rotation center could be any point in theory.

[2018-02-22 07:23] mpschaeuble commented on #249
@codeofsumit Any progress on this issue?

[2018-02-24 02:56] SteveCline commented on #275
@codeofsumit,

https://jsfiddle.net/sbq24xqc/15/

[2018-02-24 03:18] SteveCline commented on #276
@codeofsumit that is not sufficient unfortunately, say you have a map with multiple leaflet geoJson layers, but you want to isolate a layer and only edit, delete, or add features to that one layer at a time.

These methods would be super helpful, I hope you will consider!

Thanks again!

[2018-02-24 03:19] SteveCline commented on #276
The layer.remove() will remove the entire layer, not just a single feature from the entire geoJson feature collection.

[2018-02-24 07:16] Meemaw opened #278 "Layers created from geoJson don't trigger pm:edit"
I want to load layer from geoJSON and still be able to hook pm:edit onto it so I can listen to changes.

http://jsfiddle.net/Meemaw/8kbtbstd/

[2018-02-24 08:17] Meemaw commented on #278
Solved.
const layer = L.geoJson(geometry).addTo(map) return geoJSON and not a layer.

I had to get actual layer from layer.layers()[0]

[2018-02-24 08:17] #278 closed

[2018-02-27 16:48] cosme-benito commented on #147
The double click little bug is still happening, unfortunately. Sometimes (not always), double click will add two points which are exactly the same. This causes turf to think there's a self-intersection problem with the layer.

I worked around it by closing the polygon if the the new vertex is exactly the same as the previous vertex (in addition to closing the polygon if you clicked the first one).

[2018-02-27 17:04] cosme-benito commented on #147
Unfortunately the double click bug is still happening and I'm not sure how to work around it. Unfortunately the second click generates a new vertex at a slightly different location than the original one. Sometimes this causes a self-intersect issue.

I'm tempted to ignore the last vertex when the user double clicks but that is a far from ideal solution. Anyone managed to work around this?

[2018-03-06 02:25] answerquest opened #283 "Working demo with clean code needed"
Hi, Great work. Can you point to a working demo on your Readme page? I cloned your repo on my machine. The `index.html` doesn't do anything despite having the .js and all included. The `demo/index.html` just shows 3 maps but no drawing toolbar etc. Even on your [demo site](https://leafletpm.now.sh/) there's just an [app.js] in the source code and I can't find any of the clean code you have given i

[2018-03-06 15:23] cosme-benito commented on #283
In order for the demo/index.html you work you need the "dist" folder, which shouldn't come with the repository. Do you have the dist/leaflet.pm.min.js and dist/leaflet.pm.css files? If not then you need to build the project.

This is (part of) what you should be seeing when you open demo/index.html:

![image](https://user-images.githubusercontent.com/9701517/37040562-12f824fa-2152-11e8-9205-ee8ea7

[2018-03-07 16:07] mcauer opened #285 "pm:edit event behaves different on Cirlce than on other Shapes"
In edit mode the Circle fires pm:edit all the time during manipulation, which is very different from Rectangle or Polygon which just fires pm:edit once after stopped moving the helper dots.
Watch the console.logs in the standard fiddle http://jsfiddle.net/LnzN2/1332/
How can I catch the moment, when a Circles edit has really finished?

[2018-03-11 19:55] codeofsumit commented on #271
this was already included, but there was something wrong with the demo. It's fixed now. If you have this problem in your project, please create a JSfiddle where this problem is reproducable.

[2018-03-11 19:55] #271 closed

[2018-03-11 19:57] #283 closed

[2018-03-11 20:07] #285 closed

[2018-03-11 20:24] #275 closed

[2018-03-11 20:37] #260 closed

[2018-03-11 21:30] codeofsumit commented on #258
@kayoshi not yet, the problem is we don't have a way to pass options to the toolbars edit button yet 🤔

[2018-03-11 21:38] codeofsumit commented on #257
Haven't been able to reproduce this yet, sorry. I'll close this issue for now. Feel free to reopen the issue with a JSfiddle and error reproduction 👍

[2018-03-11 21:38] #257 closed

[2018-03-11 21:48] #147 closed

[2018-03-11 21:58] #258 closed

[2018-03-11 22:33] #274 closed

[2018-03-12 06:37] codeofsumit commented on #276
@stevecline can you provide a jsfiddle showing the usecase?

[2018-03-14 08:45] #268 closed

[2018-03-14 08:45] #269 closed

[2018-03-17 23:13] ermakof opened #288 "pm:drawstart event don't work in programatically mode"
I enable drawing mode programatically. Event pm:drawstart don't triggered.
Example on jsfiddle: https://jsfiddle.net/ermakof/ehsc6vp4/16/

[2018-03-21 06:29] leenbean16 opened #289 "Is this a Leaflet issue? "import {LatLng} from '../LatLng';""
Not sure how I could debug this,
but I am getting the "type error: cannot read property 'lat' of null."
then I look inside the source tab in the console and hover over the code:

          import {LatLng} from '../LatLng';

From the file /src/geo/projection/Projection.SphericalMercator.js

and I get a popup with "Unexpected token {"

[2018-03-21 11:20] codeofsumit commented on #289
`/src/geo/projection/Projection.SphericalMercator.js` is not a file of `leaflet.pm` and your import is also not related to this plugin.

I guess you wanted to open that issue on this repo?
https://github.com/Leaflet/Leaflet

[2018-03-21 11:20] #289 closed

[2018-03-26 13:24] TPABHuKOB opened #290 "Problem with FeatureCollection"
Hi there, thanks for awesome libary!
Im found problems while using leaflet.pm, here a demo via JSfiddle https://jsfiddle.net/TPABHuKOB/4nyhdq6r/
We have a list of geojson features, which we render as Leaflet objects.
Because geoJSON specification lacks a Circle object, we store it as Point and then use pointToLayer() function.  If i try run pm.enable() with this circle object its throw an error
[c

[2018-04-07 19:47] ewkonzo commented on #249
@mpschaeuble The commit really helped thanks.... But since someone don't want to merge it to main.... You did suggest multipolygons can also be handled as a LayerGroup of polygons, is this current supported? if so how can it be archived?

[2018-04-09 07:32] mpschaeuble commented on #249
@ewkonzo Nice to hear that my patch helped someone else. No, as far as I remember handling multipolygons as a LayerGroup of polygons would just have been a different solution/implementation approach I could imagine to get multipolygons supported in Leaflet.pm.

[2018-04-09 07:48] ewkonzo commented on #249
@mpschaeuble thanks it did help me get through a presentation, all was good using your build. but somehow the error _Cannot read property 'lat' of null_ kept magically finding its way later while working with the layer... so I am now converting the multi-polygons to polygons in my geojson...  then back to multi-polygon when submitting them to the back-end this has caused lots of other unrelated pr

[2018-04-09 11:22] mpschaeuble opened #291 "Shapes can be moved outside the map"
Existing shapes can be moved in the edit mode above the north or below the southpole. Visually, the edit vertices are limited at the map borders, but on the layer coordinates, I get latitude values > 90.0, respectively < 90.0.

[2018-04-11 09:01] slashy commented on #288
You're enabling drawing mode before you bind the event, thus the event can't trigger. If you first bind the event and then enable draw mode it works as supposed.

I updated your example to show how it works: https://jsfiddle.net/ehsc6vp4/33/

[2018-04-11 09:42] ermakof commented on #288
Thanks so much!

[2018-04-11 09:42] #288 closed

[2018-04-29 13:08] Victornade commented on #273
Hi CodeofSummit,

First of, what an amazing work you made there ! Thanks a lot !

It would also be very interesting for me to enable rotation around the center of a Polygon ! Are you planning to implement it ?

Again, thank you very much for Leaflet.pm

[2018-04-30 12:34] codeofsumit commented on #273
@Victornade thank you!
I will implement it but unfortunately I can't commit to a timeline as I'm very busy at work lately.

Other than that I'm always happy about Pull Requests.

[2018-05-01 03:26] augustoborn opened #292 "Can't disable marker moving/deletion"
http://jsfiddle.net/sw5sjbgg/2/

If I create a marker, even if I pass options like:

[code]

They only prevent moving and deletion during the first editing "session". If click the "edit" button twice, I'm able to delete and move the marker. Also, the marker is deletable through the "remove" button.

Is this expected behaviour? How can I disable moving and deleting markers?

[2018-05-01 09:56] smeijer commented on #228
This is the only thing I don't like about migrating from `leaflet-draw` to `leaflet.pm`.

[code]

[2018-05-01 10:42] codeofsumit commented on #228
@smeijer Turf already brought down `intersect`.
Now it's only `@turf/difference` that has no 6.x version on npm that is still big. If we can replace or update that, this library will go down to 80kb.

![image](https://user-images.githubusercontent.com/2399810/39470298-1c6e270c-4d3d-11e8-8004-a701868d2363.png)

@DenisCarriere is there a specific reason that difference has no 6.x version on npm?

[2018-05-03 09:54] smeijer commented on #257
I guess #249 is related and possibly the same issue.

[2018-05-04 21:25] jmoe opened #294 "Is it possible to toggle draw instead of toggle edit?"
Would like to toggle the draw mode on an existing line object. Like toggleEdit expect putting it into draw mode with snapping and the cursor and hint line, etc.. Is this possible?

[2018-05-07 16:27] dk-b3 opened #295 "The capability to disable PM for a LayerGroup"
I just want this:

[code]

Do I want too much? :)

[2018-05-10 12:27] codeofsumit commented on #295
hi @dk-b3, the thing is, leaflet will create all layers in the layer group on it's own. And leaflet.pm will (under the hood) treat every layer in a layergroup on it's own.
In turn, you should use `pmIgnore` on the layers inside the layergroup.

Like this:

[code]

will that work for you?

[2018-05-10 12:29] codeofsumit commented on #294
Hi @jmoe, no that's not possible right now. I'll mark it as a feature request and close the issue. If more upvotes are on this I will consider implementing it.

[2018-05-10 12:29] #294 closed

[2018-05-10 14:26] #292 closed

[2018-05-10 14:27] codeofsumit commented on #292
hi @augustoborn, no that's not expected. Thanks for reporting. Will be fixed in the next version

[2018-05-10 14:38] codeofsumit commented on #267
closing this as I'm adopting lodashs issue management.
Feature requests are marked and closed. Upvotes on the issues show popularity and help me prioritize. It also helps keeping the Issue tab clean so I can spot bugs & todos faster.
A list of existing Feature Requests can be found here
https://github.com/codeofsumit/leaflet.pm/issues?q=label%3A%22feature+request%22+is%3Aclosed

[2018-05-10 14:38] codeofsumit commented on #273
closing this as I'm adopting lodashs issue management.
Feature requests are marked and closed. Upvotes on the issues show popularity and help me prioritize. It also helps keeping the Issue tab clean so I can spot bugs & todos faster.
A list of existing Feature Requests can be found here
https://github.com/codeofsumit/leaflet.pm/issues?q=label%3A%22feature+request%22+is%3Aclosed

[2018-05-10 14:38] #273 closed

[2018-05-10 14:38] codeofsumit commented on #272
closing this as I'm adopting lodashs issue management.
Feature requests are marked and closed. Upvotes on the issues show popularity and help me prioritize. It also helps keeping the Issue tab clean so I can spot bugs & todos faster.
A list of existing Feature Requests can be found here
https://github.com/codeofsumit/leaflet.pm/issues?q=label%3A%22feature+request%22+is%3Aclosed

[2018-05-10 14:38] #272 closed

[2018-05-10 14:38] codeofsumit commented on #191
closing this as I'm adopting lodashs issue management.
Feature requests are marked and closed. Upvotes on the issues show popularity and help me prioritize. It also helps keeping the Issue tab clean so I can spot bugs & todos faster.
A list of existing Feature Requests can be found here
https://github.com/codeofsumit/leaflet.pm/issues?q=label%3A%22feature+request%22+is%3Aclosed

[2018-05-10 14:39] codeofsumit commented on #143
closing this as I'm adopting lodashs issue management.
Feature requests are marked and closed. Upvotes on the issues show popularity and help me prioritize. It also helps keeping the Issue tab clean so I can spot bugs & todos faster.
A list of existing Feature Requests can be found here
https://github.com/codeofsumit/leaflet.pm/issues?q=label%3A%22feature+request%22+is%3Aclosed

[2018-05-10 14:39] #143 closed

[2018-05-10 14:40] #291 closed, assigned to nobody

[2018-05-10 14:40] #250 closed

[2018-05-10 14:42] codeofsumit commented on #223
I'm closing this for inactivity now. I'm happy to merge a PR regarding Typescript Typings - I won't add them myself though.

[2018-05-10 14:42] #223 closed

[2018-05-10 14:42] #194 closed

[2018-05-10 14:53] codeofsumit commented on #276
Closing this until a jsfiddle is provided to get a better understanding

[2018-05-10 14:53] #276 closed

[2018-05-11 16:00] dk-b3 commented on #295
Hi!
I'm using leaflet.markercluster plugin and it does something with layers too...
I get the error, when I use your lib:

I suspect this code in L.PM.Edit.LayerGroup:
`    enabled() {
        const enabled = this._layers.find(layer => layer.pm.enabled());
        return !!enabled;
    },`

So, I just switch off your stuff for the clustering layer and it works fine)

[2018-05-16 10:35] kuka commented on #295
The same happens with the `leaflet-linear-measurement`. `{ pmIgnore: true }` doesn’t help.

[2018-05-17 13:03] mpalese opened #296 "addLayer in Rectangle mode"
Is it possible to create a layer by a L.geoJson function and with pm.enable function, modified it in rectangle mode???

[2018-05-30 04:27] cagritepebasili opened #297 "Edit.Circle throws JS Error when preferCanvas true."
I was trying canvas library with Leaflet.pm but I got error during the circle drag. Error related to https://github.com/codeofsumit/leaflet.pm/issues/269 and solution in https://github.com/codeofsumit/leaflet.pm/pull/286 works.

[code]
I will create pull request soon for this.

[2018-06-05 09:44] mpschaeuble commented on #291
Created a quick jsfiddle showing the issue: http://jsfiddle.net/bsxf463q/2/
Please move the rectangle above the north or below the soutpole and check the console output.

[2018-06-10 19:27] RobHayes512 opened #298 "Help with detecting polygon"
With my application, I only want the user to be able to save if they have closed off the line to form a polygon, I don't want them to be able to save if they just have a line(s) somewhere that don't connect to form a polygon. Is there a way to detect this?

[2018-06-10 20:32] kanmaytacker commented on #136
@codeofsumit is the cancel operation on ESC key implemented?

[2018-06-10 20:34] codeofsumit commented on #136
@kanmaytacker no, if you would like to add it as a feature request, please open a new issue or feel free to submit a PR 👍
Have a good start into the new week!

[2018-06-13 18:00] ksmort opened #299 "Cursor sets to default after drawing a polygon"
This error can be found in the demo code: [demo](https://leafletpm.now.sh/#/)

On initial start up of map, map has grab cursor.  After clicking on polyline, polygon, circle, rectangle, or cutPolygon buttons (you can draw a polygon or click another button, doesn't seem to matter), cursor gets set to default cursor instead of the grab cursor (overrides Leaflet's grab/drag cursors).  In browser debug

[2018-06-13 19:03] smeijer commented on #228
According to NPM, `@turf/difference` received an update to `6.x`.

https://www.npmjs.com/package/@turf/difference/v/6.0.1

I hope this also triggers the review of some PR's, and continued development of this awesome `leaflet.draw` alternative.

[2018-06-13 19:10] DenisCarriere commented on #228
@smeijer @codeofsumit `@turf/difference` is updated to `6.x` and doesn't contain any large dependencies.

Maybe make sure you refresh your `yarn.lock` or any dependencies that might still have an older version of it.

https://unpkg.com/@turf/difference@6.0.1/

[2018-06-13 20:08] DenisCarriere commented on #228
Fixed via PR https://github.com/codeofsumit/leaflet.pm/pull/300

[2018-06-14 10:00] codeofsumit commented on #298
To detect whenever a new shape is finished (so a new layer gets created) you can use this:

[code]

See the readme for more details

[2018-06-14 10:00] #298 closed

[2018-06-14 15:00] #297 closed

[2018-06-15 06:16] #228 closed

[2018-06-15 06:31] #299 closed

[2018-06-15 06:34] codeofsumit commented on #295
@dk-b3 @kuka can someone provide an example layerGroup here so I can reproduce the `maximum call stack size exceeded` error?

[2018-06-15 08:15] codeofsumit opened #303 "Listeners gone after cutting a layer"
As layers are redrawn after they're cut, event listeners on the original layer are lost and not on the new layers.

We should think about a solution here 🤔

a) map all listeners of the original layer to all resulting layers
b) map all listeners of the original layer to only the first / biggest resulting layer
c) let them be lost

are there other options?

[2018-06-15 09:17] cagritepebasili commented on #303
In my opinion, as layers are redrawn after they're cut, they're become different layer. However, since pm:cut event contains 'resultingLayers', anyone can pass the listeners to resultingLayers. As a result, I'd say 'let them be lost'.

[2018-06-15 10:19] Dahkon opened #304 "Circle don't behave like other shapes regarding styles"
Hello,
I got an issue with circle shape only.
When enabling edit mode for circle I can't set the default style to be used. It works for others shapes.

Where mode = "circle" and options is a pathOptions object :
`map.pm.enableDraw(mode, options);`

Settings the defaults style before also doesn't work :
`map.pm.setPathOptions(options);`

But setting styles with the layer method is setting the style

[2018-06-16 15:10] codeofsumit commented on #296
Hi @mpalese, no not right now.
Leaflet has a class L.Rectangle:
https://leafletjs.com/reference-1.3.0.html#rectangle

If your layers belong to that class, you should be able to edit it as a rectangle in leaflet.pm - if they're polygons inside a layerGroup they will be treated as a polygon.
I'd suggest you try to add them as a Rectangle to the map instead of GeoJSON and try again.

Let me know 👍

[2018-06-16 15:10] #296 closed

[2018-06-19 16:38] #249 closed

[2018-06-20 08:03] codeofsumit commented on #249
Should be resolved now. MultiPolygon and MultiLineString Support was just released 👍

[2018-06-30 09:16] codeofsumit commented on #303
Let’s let them be lost until someone complains 😊

[2018-06-30 09:17] #303 closed

[2018-06-30 15:50] haoliangyu opened #308 "Update edit handles when the layer is updated programmatically"
In my use case, layers are edited both interactively and programmatically.

When a layer is at edit mode and is updated programmatically, the edit handles are not moved accordingly. The result is like this:

![screenshot from 2018-06-30 11-43-04](https://user-images.githubusercontent.com/1726265/42126755-c6ea254a-7c5a-11e8-973d-76123aa7a5d4.png)

A workaround is to toggle off and on the layer edit

[2018-06-30 16:01] codeofsumit commented on #308
👍 thanks for the demo. Good addition, I will address this!

[2018-07-01 09:51] codeofsumit commented on #308
Took a look - I asked @perliedman for help on this:
https://twitter.com/TweetsOfSumit/status/1013355361573789696

I did not find a possibility to listen to changes done via leaflets `setLatLngs` yet 🤔.
The PR/Branch is here:
https://github.com/codeofsumit/leaflet.pm/pull/309

I've added the failing Cypress test for this usecase.

[2018-07-02 09:01] ichiro18 opened #310 "Bug on drag markers on edit mode."
Hello! I find bug on drag marker on edit mode :)
The construction ``this._layer.setLatLngs(n).redraw(),`` is not stable.

Because of it, an **error** occurs:

leaflet.pm.min.js:1:87388
updatePolygonCoordsFromMarkerDrag
leaflet.pm.min.js:1:87388
_onMarkerDrag
leaflet.pm.min.js:1:87554
fire
leaflet-src.js:593:5
_onDrag
leaflet-src.js:7246:2
fire
leaflet-src.js:593:5
_updatePosition
leaflet-src.js:58

[2018-07-02 09:11] ichiro18 commented on #310
Oooh!!! The same error when drag a shape.
I use v0.25.0

[2018-07-02 18:38] codeofsumit commented on #310
@ichiro18 I can not reproduce this error on the demo page:
https://leafletpm.now.sh

I don't see any errors when dragging markers or shapes - please provide a reproduction of the bug on JSFiddle, plunker or similar.

[2018-07-02 18:58] codeofsumit commented on #308
seems like there is no event in leaflet to catch this. I've raised a feature request with leaflet: https://github.com/Leaflet/Leaflet/issues/6214
Let's see what they say - if they include it I would like to wait for this.
If not, I would try to create a workaround if there is one that is not that dirty.

In the meantime, you can use `polygon.pm.enable();` instead of toggling edit mode twice.

[cod

[2018-07-04 10:08] fwk1010 opened #311 "Demo doesn't work"
when I open in chrome,there are a mistake:
**Uncaught TypeError: Cannot read property 'addControls' of undefined
    at demo.js:61**

How to fix it?Thanks.

[2018-07-05 10:59] codeofsumit commented on #311
Hi @fwk1010,

current `develop` branch, the `demo/index.html`?
It does work for me. Can you provide some more details what exactly you're doing?

[2018-07-05 15:53] #263 closed

[2018-07-05 15:53] codeofsumit commented on #263
I tested everything. Circle and Rectangle were broken and it will be fixed in the next release 👍

[2018-07-06 03:10] fwk1010 commented on #311
well,there are three examples in <code>demo/index.html</code>.I want to use <code>Editing A Polygon</code> and <code>Editing A Layer Group</code>,but they do not work.
@codeofsumit
Thank you for your prompt reply.

[2018-07-06 11:58] ichiro18 commented on #310
@car2go, Ok, i will try.
I think that this error appears when importing leaflet.pm via ES6-style import

[2018-07-06 12:10] ichiro18 opened #312 "Incorrect index on "pm:vertexadd" on edit mode"
Hello!
I find bug on create vertex after last vertex!
When adding a vertex after the last, the latlng add in start LatLngArray.
Why?
This behavior breaks the logic of the numbering of vertices.

**Example on JSFiddle:** [https://jsfiddle.net/ichiro18/21m8n9ha/65/](https://jsfiddle.net/ichiro18/21m8n9ha/65/)

** Screenshot **
![2018-07-06_14-46-57](https://user-images.githubusercontent.com/16424830

[2018-07-09 08:10] codeofsumit commented on #304
Hi @Dahkon, I tried to reproduce this but I don't see how this works in other layers 🤔.
Can you provide a JSfiddle or something that shows that this works with a polygon, but not with a circle please 🙏?

[2018-07-09 08:21] codeofsumit commented on #304
nevermind, I misread. You mean the options should be there when drawing a shape. I fixed it - will be in the next release

[2018-07-09 08:38] Dahkon commented on #304
Just in case the fiddle requested :
https://jsfiddle.net/n3gL6wty/

Circle stay blue, others shapes are drawn red.
;)

[2018-07-10 09:02] codeofsumit commented on #304
Fixid by #313

[2018-07-10 09:02] #304 closed

[2018-07-11 08:03] ichiro18 opened #315 "Set default vertex for draw polygon"
Hello! How can I continue drawing on the vertices specified by software?
E.g, i remove vertex from polygon and i'll continie draw.

[2018-07-12 10:33] JanLoebel opened #316 "[Bug] Problem with PM and MarkerCluster"
Hi Sumit :)

First of all, thank you for your great contribution of this awesome plugin for Leaflet. I really appreciate the work you do here.

I have the following problem with the combination of Leaflet.PM and Leaflet.markercluster:

- The edit mode is disabled for a single marker by `pmIgnore: true` -> so far so good
- If I remove one marker, all of them are getting deleted -> that should not h

[2018-07-12 19:35] codeofsumit commented on #315
Hi, I’m not sure I understand what you’re trying to accomplish.

You’re in drawing mode and want to remove the last vertex you’ve drawn, then continue drawing?

[2018-07-12 19:43] cagritepebasili commented on #316
MarkerClusterGroup extends L.FeatureGroup and MarkerCluster extends L.Marker. So, behaviour you experinced is expected. Using MarkerCluster with PM together actually brings out more than this conflict especially in events. It would be really great making them work together. If there will be any work about conflicts between MarkerCluster and PM, I try to participate as much as i can.
.

[2018-07-12 20:11] JanLoebel commented on #316
So far the deletion is the only problem I had to face with MarkerCluster and PM. But so far I don't get exactly the problem. A FeatureGroup should only be handled by PM if not set to `pmIgnore` but that is what I do. Can you explain me the problem a little bit more in detail? It would really great if we could fix the problems all together.

[2018-07-13 07:34] ichiro18 commented on #315
I need to develop 4 cases:
1) Edit vertex latlng in draw mode
2) Edit vertex latlng in edit mode
3) Delete vertex with unclose polygon and continue drawing
4) Edit vertex latlng on edit mode with unclose polygon and continue drawing

I think redraw polygon after edit, but i can't set default latlngs for vertex in draw mode

[2018-07-13 15:07] codeofsumit opened #317 "Edit Vertices during draw"
Let the user edit already drawn vertices of an unfinished polygon during draw.

Please upvote if you need this feature.

[2018-07-13 15:11] codeofsumit commented on #315
Ok these are four completely different features.

1. Edit vertices during draw, I created a new issue for it: #317 - please upvote it
2. This is already possible
3. Is suggested here: #268, please upvote it
4. I probably won’t add this. You can do everything in edit mode, including adding new vertices. There is no need to “unfinish” a polygon and putting it back to drawing mode. If you disagree, p

[2018-07-13 15:11] #315 closed

[2018-07-13 15:14] codeofsumit commented on #317
Closed until there is enough need to start developing this feature. Please upvote if you need it.

[2018-07-13 15:14] #317 closed

[2018-07-15 05:15] manuamador opened #318 "Cannot add point to polygon with a touch device"
Hi,
Thanks for your wonderful plugin.
One problem on touch devices. If a GeoJSON is loaded. With polygons and a pop up is opened with a click for every poly in the GeoJSON. Then it is impossible to add a point in the polygons when drawing a polygon as every click fired the open popup.
Is there a work around ?
Thanks.

[2018-07-16 12:48] JanLoebel commented on #316
So far I found a workaround to avoid deleting hole markerCluster groups. Therefore I've had to edit the `toggleGlobalRemovalMode`-method in the `L.PM.Map.js`-file. I know this isn't by far any good solution but a workaround. What could be a better solution? I was thinking about hooks for filtering removal layer so everybody can implement a filter them self, that would be at least a more general so

[2018-07-16 14:22] JanLoebel commented on #316
Okay, found out that the `markerPane` approach is not a good idea at all. But checking for `layer._group` is much better because the internal implementation of Leaflet.markercluster depends on that variable. So we can be sure to skip layers which has the `_group` property. Together with the `spiderLegPolylineOptions` it looks really good for my use case.

[code]

[2018-07-17 07:06] JanLoebel commented on #316
Sorry for spaming you with such a long thread. I just wanted to let others know how to deal with it, if you don't wont to fork the project.

Final solution:
[code]

**Note:** If there will be a new version you'll have to maintain the method yourself!!

[2018-07-17 21:08] codeofsumit commented on #312
@ichiro18 would be cool if you could check out this PR and see if this fixes your issue:
https://github.com/codeofsumit/leaflet.pm/pull/319

[2018-07-17 21:57] codeofsumit commented on #311
they do work fine for me - are there any errors in the console?

[2018-07-17 21:59] codeofsumit commented on #318
Hi @manuamador, would love to take a look - could you please provide a JSfiddle that shows the problem?

[2018-07-17 22:30] codeofsumit commented on #206
if you want this, please upvote 👍

[2018-07-17 22:30] #206 closed

[2018-07-18 10:23] codeofsumit commented on #311
@fwk1010 please run `npm run build` in the plugin folder and try again.

[2018-07-18 10:45] codeofsumit commented on #308
The feature request for Leaflet is this now: https://github.com/Leaflet/Leaflet/issues/2235

[2018-07-18 18:00] agrimgupta92 opened #320 "Undo/Redo Options"
Is there any plan to add the option to undo/redo in polygons/polylines? I see from previous issues that you plan to add them. Can you please tell when the feature will be ready or suggest a temporary/hacky way to get it to work?
Update: I was able to get "undo" working as this pull request does this: https://github.com/codeofsumit/leaflet.pm/pull/284
Is it possible to add redo also?

[2018-07-18 21:12] codeofsumit commented on #320
@agrimgupta92 I can't give any timelines, I work on leaflet.pm when I find the time.
a solution to add redo is to do this inside your application. Whenever the user changes something, or "undoes" something, save the layer and show a "redo" button. When the user clicks it, overwrite the layer with the saved one.

I will add #284 soon, I'm not sure about redo though.

I will mark this issue as a fea

[2018-07-18 21:12] #320 closed

[2018-07-18 21:36] codeofsumit commented on #310
@ichiro18 I'm using leaflet.pm with ES6 style import in multiple apps - compiled with webpack and babel afterwards. I'm closing the issue for now - please reopen it when you can provide any kind of reproducible case so I can see and fix it 👍

[2018-07-18 21:36] #310 closed

[2018-07-18 21:36] codeofsumit commented on #311
Please reopen if the issue persists.

[2018-07-18 21:36] #311 closed

[2018-07-19 23:06] codeofsumit commented on #316
Hi guys, I'm back from vacation and looked into this today. It seems hard to identify layers from markercluster.
The state of my work on this can be seen in this PR: https://github.com/codeofsumit/leaflet.pm/pull/321

I've also opened an issue at the markercluster repo regarding the identification of layers created by markercluster.
https://github.com/Leaflet/Leaflet.markercluster/issues/905

Any

[2018-07-20 13:37] codeofsumit commented on #316
@JanLoebel is this the expected behavious for global edit mode and marker cluster?
![markercluster](https://user-images.githubusercontent.com/2399810/43005326-d27e088a-8c32-11e8-9013-eb431e538993.gif)

(I'm still working on removal mode)

[2018-07-20 13:58] JanLoebel commented on #316
@codeofsumit absolutely :) looks brilliant so far! 👍 For my usecase it's also important to be able to prevent markers from being edited (move).

[2018-07-21 09:17] codeofsumit commented on #316
@JanLoebel that's a different issue. If you want your markers to be ignored by leaflet.PM you can either:

1. ignore them individually:
[code]

2. disable their drag individually
[code]

3. disable drag for globalEditMode by enabling it once with your preffered options
[code]

The last option might not work correctly when used with markercluster, but I will try and fix this in #321 as well.

[2018-07-21 09:21] codeofsumit opened #322 "Introduce Click Area Rectangle"
there are weird behaviours with the cursor markers as sometimes you click the map, sometimes you click the cursor marker, sometimes you click another layer on the map.

This can be prevented with an invisible rectangle covering the cursor, catching the events.

[2018-07-23 07:19] JanLoebel commented on #316
@codeofsumit Thanks, yeah I know that and have done it like that. It was just that we have to assure that these two work still together in the end :)

[2018-07-23 07:56] JanLoebel commented on #316
@codeofsumit Yes sorry, that is what I wanted to say in the end :) Of course, it has nothing to do with the compatibility. I've just had the problem with my solution that markers could not be deleted in a cluster till I've added the remove-listener to each layer of the marker cluster.

[code]
But I get the point that this will work as before and the non-editable stuff has to be defined by one of t

[2018-07-25 15:02] lio590 opened #323 "Layers are not removed in pm obj"
It seems that there is a problem when you are removing layers / markers, they are removed from the layerGroup but not from the associated pm obj. So for exemple when you try to disable the layer you get an error " Cannot read property 'disable' of undefined" because inded the layers are not available anymore.
![sshoot](https://user-images.githubusercontent.com/35266377/43208564-0331798e-902b-11e8-

[2018-07-26 13:07] lio590 commented on #323
I have implemented a workaround however since teh layers are added "automatically" to pm they should be removed automatically as well. Not a big deal thought

[2018-07-27 12:03] dyachkov opened #325 "Cut from polygon using two points"
Hey,

Can I somehow cut polygon into two polygons using two points? Now, if I try to cut using `Point1 -> Point2 -> Point1` then nothing happens (`pm:cut` not fires). As I understand it is because two points do not form polygon. If so is there any solution for this?

Thanks!

[2018-07-29 12:14] codeofsumit commented on #325
Hi @dyachkov, thanks for the feature request - that is not possible yet. I'm changing the title to reflect this feature request and close the issue for more people to vote on it so I can prioritize building new features.

[2018-07-29 12:14] #325 closed

[2018-07-29 14:19] codeofsumit commented on #323
I simplified your codepen to isolate the issue.
The error is thrown as soon as you draw a marker. Unfortunately if I use the exact same code locally, it works so I'm still searching for the issue

[2018-07-29 17:32] lio590 commented on #323
Let me check

[2018-07-29 17:46] lio590 commented on #323
The error is hown only when you remove the marker and if you don't remove it from pm, if you do > no error please check https://codepen.io/lio590/pen/MBOZzy?editors=0010
Let me know if you have any question

[2018-07-29 18:43] codeofsumit commented on #323
@lio590 please use the simplified example:
https://codepen.io/codeofsumit/pen/qyVMeo?editors=0010

The error is also thrown if I include the library into another project. And I even know how to fix it - but the error is still not thrown in my test suite 🤔  I want to write a test against this.

If you want, you can check out this branch:
https://github.com/codeofsumit/leaflet.pm/pull/326/files

run

[2018-07-29 19:49] lio590 commented on #323
Ok will try tomorrow :)

[2018-08-01 01:04] mohammedzamakhan commented on #125
is there a way, where I don't want to snap, suppose it snaps normally, but if I press `shift` or some key, it will not snap?

[2018-08-01 07:37] gouroujo commented on #125
You should be able to disable the snap functionality by holding "alt" pressed.

[2018-08-01 16:52] mohammedzamakhan opened #327 "Guides for 90 degree"
Is there a way where I can have extra guide to show 90 degree to the user when he is in the quadrant of 45degrees to the last line.

I do not want leaflet.pm to add it, but if I can know if there is a event or something that can help me build it myself.

![screen shot 2018-08-01 at 11 46 41 am](https://user-images.githubusercontent.com/2327532/43536046-35cf4ab4-9581-11e8-8913-1ae9f0080e62.png)

th

[2018-08-01 18:33] mohammedzamakhan opened #328 "Cancel operation"
Suppose I select Delete and clicked on a polygon that I didn't intend to by mistake, is there a way I can just cancel this operation? Like how Leaflet.draw gives the options?

[2018-08-01 19:56] mohammedzamakhan opened #329 "Make specific thing uneditable"
Currently is there a way that, if I have rectangles and polygons on my screen, if I click edit, I only want polygon to be editable and not rectangle?

[2018-08-01 20:00] codeofsumit commented on #329
Two options:
1. you can add the option `pmIgnore: true` to the rectangles.
2. you can add your own edit button that just enables edit mode for all polygons

[2018-08-01 20:00] #329 closed

[2018-08-01 20:01] codeofsumit commented on #328
not yet. Seems like a useful feature thanks for the suggestion. Open for upvotes

[2018-08-01 20:01] #328 closed

[2018-08-01 20:05] codeofsumit commented on #327
mh good question. I would try it like this:

[code]

in `vertexadded` you should get the latest coordinate that is added to the shape. You can place your guide in reference to it. Does this help?

[2018-08-01 21:53] mohammedzamakhan commented on #327
I want the 90 degree guide only while dragging, these events are only called after you add.

[2018-08-01 22:26] mohammedzamakhan commented on #328
Why would you close the issue, when you need upvotes?

[2018-08-02 05:09] codeofsumit commented on #328
https://github.com/codeofsumit/leaflet.pm/blob/develop/README.md#feature-request

[2018-08-02 05:10] codeofsumit commented on #327
Could you place it at the cursor after dragstart?

[2018-08-02 19:28] mohammedzamakhan commented on #327
When the angle between the blue dotted line and the violet dotted like is really less, we also want it to snap to the purple perpendicular guide.

[2018-08-02 19:41] codeofsumit commented on #327
Ok sounds like you’d need an additional event. Shouldn’t be that hard. Marked as feature request! Feel free to submit a PR if you would like to help

[2018-08-02 19:42] #327 closed

[2018-08-13 11:35] #323 closed

[2018-08-14 14:46] gorczii opened #330 "Cannot snap Marker to a new Polyline"
Hey :) I found a bug when adding a new shape and trying to snap marker to it.
You can reproduce it on the demo [](https://leafletpm.now.sh/) following these steps:
- Place new marker anywhere
- Add new polyline/polygon/any other shape
- Try to snap a new marker on the previously created shape (this is where the problem occurs - it's impossible to snap the newly created marker to this shape).

Is t

[2018-08-14 17:28] ka7eh opened #331 "Invalid geometry on double click"
If I activate draw mode with `selfIntersection` set to `false`, then double clicking on the map over the last added vertex creates a new point which produces a self-intersecting shape. After that, you cannot finish your geometry, because it is not valid.

See this fiddle for an example: https://jsfiddle.net/ny7jbv5t/9/
Start drawing a polygon and at one point double click on your last vertex. Then

[2018-08-17 06:08] dior1 opened #332 "Text Label"
Hi, would it be possible to add a Text Label to the Map? No Marker or something, only a Text.
kind Regards

[2018-08-22 09:09] rafal-jaworski opened #333 "The cutting line remains red when it no longer intersects with itself."
Steps to reproduce:
![image](https://user-images.githubusercontent.com/28957750/44454317-7a2ddb00-a5fb-11e8-87ad-326857081f56.png)
![image](https://user-images.githubusercontent.com/28957750/44454323-7dc16200-a5fb-11e8-9f54-17c54a496f22.png)
![image](https://user-images.githubusercontent.com/28957750/44454329-80bc5280-a5fb-11e8-8fca-6c3110008ea4.png)

[2018-08-23 02:37] dragneel30 opened #334 "Leaflet.js error line 5."
Here is my code: http://jsfiddle.net/LnzN2/4384/

Uncaught TypeError: Cannot read property '0' of null

I dont really know what to do since the error is coming from the library itself.

the error starts at line 64 of my js

figured it out. I was passing only 1 latlng. should i delete this thread?

[2018-08-27 12:44] cihaniko opened #335 "How to listen to "pm:remove" event for a single layer"
I want to remove the layers / markers.
map.on ('pm: remove', function (e) {}) listens on all map layers. But I just want to listen a layer. I am trying to e.layer.on ('pm: remove' function {}) for this, it does not work.

**for example :**
`map.on('pm:create', function(e) {

      // l want listen to remove on the new layer
       e.layer.on('pm:remove', function(x) {
            console.log(' I w

[2018-08-29 22:48] mohammedzamakhan opened #336 "Multiple Polygon Edit Controls"
I have three different types of polygons, and I want to have three different controls to edit different types of polygons. Is there anyway I can do it using leaflet.pm?

[2018-08-30 05:36] codeofsumit commented on #336
Sure

**Functionality**
1. You can group your types of polygons into LayerGroups or FeatureGroups and call `group1.pm.enable` to make a specific group editable.
2. Or you store them in variables and loop over them: `group1.forEach((layer) => {layer.pm.enable()});`

**Controls**
You can do any kind of button in your application that calls the functionality methods, including adding controls to the

[2018-08-30 05:36] #336 closed

[2018-08-30 05:40] codeofsumit commented on #335
Try the standard leaflet event:
https://leafletjs.com/reference-1.3.4.html#layer-remove

To the other question:
currently: no, `pm:remove` is fired whenever a layer is removed from the map - no matter in which way. I will open a feature request to add to the event _how_ the layer was removed.

[2018-08-30 05:40] #335 closed

[2018-08-30 05:41] codeofsumit opened #337 "Add to pm:remove the way a layer was removed"
Add to the payload how the layer was removed. Via toolbar button or functions or something else.
Not sure if this works but give it a try 🤷‍♂️

[2018-08-30 05:41] #334 closed

[2018-08-30 05:42] codeofsumit commented on #337
Closed as we have lodashs issue management

[2018-08-30 05:42] #337 closed

[2018-08-30 05:44] codeofsumit commented on #332
closing this as I'm adopting lodashs issue management.
Feature requests are marked and closed. Upvotes on the issues show popularity and help me prioritize. It also helps keeping the Issue tab clean so I can spot bugs & todos faster.
A list of existing Feature Requests can be found here
https://github.com/codeofsumit/leaflet.pm/issues?q=label%3A%22feature+request%22+is%3Aclosed

[2018-08-30 05:44] #332 closed

[2018-08-30 05:45] codeofsumit commented on #330
seem to be working for me 🤔

![snapping](https://user-images.githubusercontent.com/2399810/44831868-afa07d00-ac28-11e8-9c28-d3f3415a48b2.gif)

[2018-08-30 05:46] codeofsumit commented on #318
As the issue is quite old now, please reopen with a repro if this is still an issue

[2018-08-30 05:46] #318 closed

[2018-08-30 05:48] codeofsumit commented on #331
@ka7eh double click will create two vertexes on top of each other. What would you expect on double click to happen?

[2018-08-30 15:14] mohammedzamakhan commented on #336
I tried doing `group1.pm.enableDraw('Poly')`, but I got an error, how do I draw a polygon in a particular group?

[2018-08-30 15:28] codeofsumit commented on #336
You have to add them to the group **after** the layer was created.

something like this:
[code]

[2018-08-31 06:09] ka7eh commented on #331
When `selfIntersection` is set to `false`, it should not create the second vertex, because it's an invalid geometry.

[2018-09-05 12:09] codeofsumit commented on #267
there are enough upvotes. I will implement this.

[2018-09-05 20:54] spatialhast opened #339 "Delete feature from L.featureGroup and save feature with hole"
Hi!
How I can delete drawed features on the map or loaded from geojson feature in L.featureGroup? When I click on 'Save' button I receive initial loaded or drawed geojson layer.
Same behaviour I have when cut hole in polygon.
jsfiddle example http://jsfiddle.net/spatialhast/5eqdrh6k/2/

Best regards!

[2018-09-08 14:33] #339 closed

[2018-09-21 09:04] codeofsumit commented on #333
Thanks for reporting - will fix it!

[2018-09-21 10:03] codeofsumit commented on #333
will be fixed in the next release 👍

[2018-09-21 10:09] #333 closed

[2018-09-21 10:10] codeofsumit commented on #331
true, I will check this

[2018-10-02 11:06] ismaildervisoglu opened #341 "Set maximum bound problem"
@codeofsumit
I want the drawings to be made within a certain area. To do this, I tried to set the boundary with the setMaxBounds function on the map object, but it didn't work.
How could I do that?

[2018-10-02 16:44] mohammedzamakhan opened #342 "Adding a hint at location where it will snap, if you get close"
I wan't to add a hint for the users who are drawing the shapes where it will snap if you go closer to that point.

Is there anything I can do in my application to enable this?

![screen shot 2018-10-02 at 11 43 07 am](https://user-images.githubusercontent.com/2327532/46363421-94b29580-c638-11e8-9228-13cbe1d2bc18.png)

[2018-10-02 21:44] mohammedzamakhan commented on #342
so lets suppose the snapping distance is 3, and to show hints the distance is 4, we will show this hints if the distance is in between 3 and 4, and if its gets less than 3, it directly goes and snaps

[2018-10-14 16:50] codeofsumit commented on #341
Hi @ismaildervisoglu,
hmm from the top of my head I would approach it like this:

I would draw an invisible polygon to set the area where you want the drawings to be made.
Whenever the user draws, I would leverage the leaflet.pm events to constantly check if the currently drawn shape is within that boundry polygon.
For the comparison, I would use the library turf.

This is a similar way how I disa

[2018-10-14 16:50] #341 closed

[2018-10-14 16:55] codeofsumit commented on #330
I will close this issue now. Please reopen with a repro if the issue is still present 👍

[2018-10-14 16:55] #330 closed

[2018-10-16 08:58] henev opened #345 "When edit a circle my layers group gets cleared"
So I create a `layers = new leaflet.FeatureGroup()` to store any new shapes I draw like `this.layers.addLayer(e.layer);`. The thing is that when I draw a circle and then toggle global edit mode my layers disappear from my array (but not from the map). I guess it has something to do with this line of code:

https://github.com/codeofsumit/leaflet.pm/blob/700699ca1663514aee0e394350fb827c5330293e/src/

[2018-10-16 09:05] codeofsumit commented on #345
@henev hmm good point, sounds like a bug. Will investigate 👍  - thanks for reporting!

[2018-10-17 05:22] henev opened #346 "Recreate circles with GeoJSON"
How do you recreate circles programmatically from GeoJSON?

[code]

In GeoJSON circles are represented as `"type":"Point"` and don't have radius. Is it possible to recreate a GeoJSON that has circles and polygons or I have to go with another approach?

[2018-10-17 06:09] codeofsumit commented on #346
GeoJSON does not support Circles. And leaflet doesn't offer the necessary workarounds.

The workaround I use on [Geoman](https://geoman.io) to support circles is to store the radius in the GeoJSON properties and when parsing them to layers again, check for that property and turn it into circles instead of a marker then.
Details are in [this leaflet issue](https://github.com/Leaflet/Leaflet.draw/is

[2018-10-17 06:09] #346 closed

[2018-10-17 06:36] henev commented on #346
Thanks for the fast response :)

[2018-10-19 16:01] powersofsmithy opened #347 "Limit to one shape"
Is there a way to limit the drawing to one shape, or remove previous shapes when drawing a new shape?

Thanks

[2018-10-20 11:43] codeofsumit commented on #347
sure, listen to the `pm:draw` event and then disable the functionality or remove the previously drawn shapes.

[2018-10-20 11:43] #347 closed

[2018-10-22 10:24] powersofsmithy commented on #347
i'm listening to the pm:draw event, but I can't get the event to fire.

 map.on('pm:draw', function (e) {
        debugger;
    });

[2018-10-22 11:05] codeofsumit commented on #347
as soon as you finish drawing of a shape via leaflet.pm, the event is fired.

If the event doesn't fire in that scenario for you, please create a JSfiddle recreating the problem so we can investigate together.

[2018-10-22 12:41] powersofsmithy commented on #347
i get pm:create fired when the shape is drawn, but not pm:draw

[2018-10-22 13:00] codeofsumit commented on #347
ah sorry, my bad. There is no `pm:draw` event. How did you come up with it? The events for drawing mode are listed here:
https://github.com/codeofsumit/leaflet.pm#drawing-mode

[2018-10-22 13:51] powersofsmithy commented on #347
it was from your suggestion to use pm:draw.

[2018-10-22 13:58] codeofsumit commented on #347
LOL omg 🤦‍♂️ . I definitely need vacation. Sorry about that.

`pm:created` is the event. Please check the README, it is up to date and functions better than my brain today 😅 .

[2018-10-24 12:53] codeofsumit commented on #290
Ok so this doesn't seem to be a problem with pointToLayer but more the with the featureCollection.

I've tried it and this should work:

[code]

[2018-10-24 21:05] codeofsumit commented on #345
it seems like this is the same problem as #290 🤔
And it is VERY weird. Still investigating...

[2018-10-25 05:04] #290 closed

[2018-10-25 05:04] #345 closed

[2018-10-25 05:13] codeofsumit commented on #345
I was able to fix it 👍, will be in the next release!

[2018-10-25 05:13] codeofsumit commented on #290
I was able to fix it 👍, will be in the next release!

[2018-10-31 11:59] fg5002 opened #350 "Drawing on mobile"
Dear Sumit,

First let me congratulate to your work.
To me, this is the first really useful mobile friending map editing plugin.

I am using an L.divIcon, let's say cursor, to draw precisely on map. It works well, but I have some problems at drawing:

- There is a strange behaviour: cursor doesn't snap until I click marker button on toolbar.
- Due to the rare occurences of the self intersected lan

[2018-10-31 13:16] codeofsumit commented on #350
Hi @fg5002, thank you for the kind words and using my plugin.
Regarding the self intersection:

Pass your options right from the beginning like this:
[code]

This should preserve these options for later drawings (so self intersection is never allowed.

Regarding your other points, it would be really great if you could create a small map on http://jsfiddle.net/ with your custom icon so I can see it

[2018-10-31 17:50] m0t0r opened #351 "Display sq area/distance while drawing polygons/polylines/circles"
Hey @codeofsumit,

Thanks a lot for this project and your time!

I have been looking around the documentation and repo and was unable to find support for showing sq area/distance when drawing polygons/polylines/circles. I guess it's a feature request. I hope it can be added to this awesome library.

Thanks a lot!

[2018-11-06 14:53] m1dst opened #353 "Tooltips and Toolbar Title language options"
I couldn't find a way to set tooltips for the control buttons.  Did I miss a config setting to provide them?  If not it would be really great to support tooltips via configuration so we can support multiple languages.

[2018-11-07 08:13] codeofsumit commented on #353
no, they're missing right now but I'm working on them RIGHT NOW.

[2018-11-07 21:19] mohammedzamakhan opened #354 "How to draw a Rectangle at an angle"
Is there any way I can create rectangle at an angle like this one?

<img width="660" alt="screen shot 2018-11-07 at 3 19 11 pm" src="https://user-images.githubusercontent.com/2327532/48161580-82afbc80-e2a0-11e8-8c9b-0c56d6fcc6a1.png">

[2018-11-08 08:00] fg5002 commented on #350
Hi @codeofsumit , thank you for your quick reply.

Regarding self intersection, I have tried, but it has no effect since my icon only fires a click on map.

JSFiddle: http://jsfiddle.net/53z4ub2y/4/

Please note, that at drawing only the marker's behaviour is the same as on mobile.
On mobile I can't draw circle yet even without custom icon. After the first point it dies.

Also I found a strange th